<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cn.thinkx.oms.specialAccount.mapper.CompanyInfMapper">
		
	<resultMap type="com.cn.thinkx.oms.specialAccount.model.CompanyInf" id="CompanyInfResultMap">
		<result column="COMPANY_ID" property="cId"/>
		<result column="NAME" property="name"/>
		<result column="COMPANY_CODE" property="comCode"/>
		<result column="LAW_CODE" property="lawCode"/>
		<result column="TRANS_FLAG" property="flag"/>
		<result column="TYPE" property="type"/>
		<result column="ADDRESS" property="address"/>
		<result column="PHONE_NO" property="phoneNO"/>
		<result column="CONTACTS" property="contacts"/>
		<result column="REMARKS" property="remarks"/>
		<result column="CREATE_USER" property="createUser"/>
		<result column="UPDATE_USER" property="updateUser"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="UPDATE_TIME" property="updateTime"/>
		<result column="LOCK_VERSION" property="lockVersion"/>
	</resultMap>
	
	<sql id="CompanyInfColumns">
		c.COMPANY_ID,
		c.NAME,
	    c.COMPANY_CODE,
	    c.LAW_CODE,
		c.TRANS_FLAG,
	    <!-- c.TYPE, -->
	    c.ADDRESS,
		c.PHONE_NO,
	    c.CONTACTS,
		c.REMARKS,
		c.CREATE_USER, 
		c.UPDATE_USER, 
		c.CREATE_TIME, 
		c.UPDATE_TIME, 
		c.LOCK_VERSION
	</sql>
	
	<select id="getCompanyInfById" parameterType="java.lang.String" resultMap="CompanyInfResultMap">
			SELECT 
  				<include refid="CompanyInfColumns" />
	 			FROM TB_COMPANY_INF c WHERE c.DATA_STAT  = '0' AND c.COMPANY_ID = #{cId,jdbcType=VARCHAR}
	</select>
	
	<select id="getCompanyInfByComCode" parameterType="java.lang.String" resultMap="CompanyInfResultMap">
			SELECT 
  				<include refid="CompanyInfColumns" />
	 			FROM TB_COMPANY_INF c WHERE c.DATA_STAT  = '0' AND c.COMPANY_CODE = #{comCode,jdbcType=VARCHAR}
	</select>
	
	<select id="getCompanyInfByLawCode" parameterType="java.lang.String" resultMap="CompanyInfResultMap">
			SELECT 
  				<include refid="CompanyInfColumns" />
	 			FROM TB_COMPANY_INF c WHERE c.DATA_STAT  = '0' AND c.LAW_CODE = #{lawCode,jdbcType=VARCHAR}
	</select>
	
	<insert id="insertCompanyInf" parameterType="com.cn.thinkx.oms.specialAccount.model.CompanyInf">
		INSERT INTO TB_COMPANY_INF (
			COMPANY_ID,
		    NAME,
	        COMPANY_CODE,
	        LAW_CODE,
		    TRANS_FLAG,
	        TYPE,
	        ADDRESS,
		    PHONE_NO,
	        CONTACTS,
			DATA_STAT,
			REMARKS,
			CREATE_USER, 
			CREATE_TIME,
			UPDATE_USER,
			UPDATE_TIME,
			LOCK_VERSION
			)	VALUES	( 
		 		#{cId,jdbcType=VARCHAR},
		 		#{name,jdbcType=VARCHAR},
		 		#{comCode,jdbcType=VARCHAR},
		 		#{lawCode,jdbcType=VARCHAR},
		 		#{flag,jdbcType=VARCHAR},
		 		'00',
		 		<!-- #{type,jdbcType=VARCHAR}, -->
		 		#{address,jdbcType=VARCHAR},
		 		#{phoneNO,jdbcType=VARCHAR},
		 		#{contacts,jdbcType=VARCHAR},
		 		'0',
		 		#{remarks,jdbcType=VARCHAR},
		 		#{createUser,jdbcType=VARCHAR},
		 		#{createTime,jdbcType=BIGINT},
		 		#{updateUser,jdbcType=VARCHAR},
		 		#{updateTime,jdbcType=BIGINT},
		 		0
		 	) 
	</insert>
	
	<update id="updateCompanyInf" parameterType="com.cn.thinkx.oms.specialAccount.model.CompanyInf">
			UPDATE TB_COMPANY_INF SET
				NAME=#{name,jdbcType=VARCHAR},
				COMPANY_CODE=#{comCode,jdbcType=VARCHAR},
				LAW_CODE=#{lawCode,jdbcType=VARCHAR},
				TRANS_FLAG=#{flag,jdbcType=VARCHAR},
				<!-- TYPE=#{type,jdbcType=VARCHAR}, -->
				ADDRESS=#{address,jdbcType=VARCHAR},
				PHONE_NO=#{phoneNO,jdbcType=VARCHAR},
				CONTACTS=#{contacts,jdbcType=VARCHAR},
				REMARKS=#{remarks,jdbcType=VARCHAR},
				LOCK_VERSION = LOCK_VERSION + 1,
				UPDATE_TIME=#{updateTime,jdbcType=BIGINT},
				UPDATE_USER=#{updateUser,jdbcType=VARCHAR}
			 WHERE COMPANY_ID = #{cId,jdbcType=VARCHAR}
	</update>
	
	
	<select id="getCompanyInfList" parameterType="com.cn.thinkx.oms.specialAccount.model.CompanyInf" resultMap="CompanyInfResultMap">
		SELECT 
		    <include refid="CompanyInfColumns" />
		    FROM TB_COMPANY_INF c
		         WHERE c.DATA_STAT  = '0'
			<if test="name !=null and name !='' ">
				AND c.NAME LIKE '%' || #{name,jdbcType=VARCHAR} || '%' 
			</if>
			<!-- <if test="type !=null and type !='' ">
				AND c.TYPE = #{type,jdbcType=VARCHAR} 
			</if> -->
			<if test="contacts !=null and contacts !='' ">
				AND c.CONTACTS = #{contacts,jdbcType=VARCHAR}
			</if>
			<if test="flag !=null and flag !='' ">
				AND c.TRANS_FLAG = #{flag,jdbcType=VARCHAR}
			</if>
				ORDER BY c.UPDATE_TIME DESC
	</select>
	
	<update id="deleteCompanyInf" parameterType="com.cn.thinkx.oms.specialAccount.model.CompanyInf">
			UPDATE TB_COMPANY_INF
		    SET DATA_STAT    = '1',
		       LOCK_VERSION = LOCK_VERSION + 1,
		       UPDATE_TIME  = #{updateTime,jdbcType=BIGINT},
		       UPDATE_USER=#{updateUser,jdbcType=VARCHAR}
		    WHERE COMPANY_ID = #{cId,jdbcType=VARCHAR}
	</update>
</mapper>
