<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cn.thinkx.oms.specialAccount.mapper.GatewayBillingTypeInfMapper">
		
	<resultMap type="com.cn.thinkx.oms.specialAccount.model.GatewayBillingTypeInf" id="GatewayBillingTypeInfResultMap">
		<result column="ID" property="id"/>
		<result column="B_ID" property="bId"/>
		<result column="GATEWAY_ID" property="gId"/>
		<result column="REMARKS" property="remarks"/>
		<result column="CREATE_USER" property="createUser"/>
		<result column="UPDATE_USER" property="updateUser"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="UPDATE_TIME" property="updateTime"/>
		<result column="LOCK_VERSION" property="lockVersion"/>
	</resultMap>
	
	<sql id="GatewayBillingTypeInfColumns">
		gb.ID,
		gb.B_ID,
		gb.GATEWAY_ID,
		gb.REMARKS,
		gb.CREATE_USER, 
		gb.UPDATE_USER, 
		gb.CREATE_TIME, 
		gb.UPDATE_TIME, 
		gb.LOCK_VERSION
	</sql>
	
	<insert id="insertGatewayBillingTypeInf" parameterType="com.cn.thinkx.oms.specialAccount.model.GatewayBillingTypeInf">
		INSERT INTO TB_GATEWAY_BILLING_TYPE (
			ID,
			B_ID,
			GATEWAY_ID,
			DATA_STAT,
			REMARKS,
			CREATE_USER, 
			CREATE_TIME,
			UPDATE_USER,
			UPDATE_TIME,
			LOCK_VERSION
			)	VALUES	( 
			    #{id,jdbcType = VARCHAR},
		 		#{bId,jdbcType = VARCHAR},
		 		#{gId,jdbcType = VARCHAR},
		 		'0',
		 		#{remarks,jdbcType = VARCHAR},
		 		#{createUser,jdbcType=VARCHAR},
		 		#{createTime,jdbcType=BIGINT},
		 		#{updateUser,jdbcType=VARCHAR},
		 		#{updateTime,jdbcType=BIGINT},
		 		0) 
	</insert>
	
	
	<select id="getGatewayBillingTypeInfList" parameterType="java.lang.String" resultMap="GatewayBillingTypeInfResultMap">
		SELECT 
		   <include refid="GatewayBillingTypeInfColumns" />
		   FROM TB_GATEWAY_BILLING_TYPE gb
		WHERE DATA_STAT  = '0'
			  AND GATEWAY_ID = #{gId,jdbcType = VARCHAR}
	</select>
	
	<update id="updateGatewayBillingTypeInf" parameterType="com.cn.thinkx.oms.specialAccount.model.GatewayBillingTypeInf">
	   UPADTE TB_GATEWAY_BILLING_TYPE SET
			DATA_STAT  = '0',
			UPDATE_TIME=sysdate,
			UPDATE_USER= #{updateUser,jdbcType = VARCHAR}
	   WHERE GATEWAY_ID = #{gId,jdbcType = VARCHAR} 
	        AND B_ID = #{bId,jdbcType = VARCHAR}
	</update>
	
	<delete id="deleteGatewayBillingTypeInfByGId" parameterType="com.cn.thinkx.oms.specialAccount.model.GatewayBillingTypeInf">
	   DELETE FROM TB_GATEWAY_BILLING_TYPE 
	   WHERE GATEWAY_ID = #{gId,jdbcType = VARCHAR}
	</delete>
	
	<delete id="deleteGatewayBillingTypeInfByBId" parameterType="com.cn.thinkx.oms.specialAccount.model.GatewayBillingTypeInf">
	   DELETE FROM TB_GATEWAY_BILLING_TYPE 
	   WHERE B_ID = #{bId,jdbcType = VARCHAR}
	</delete>
	
	<delete id="deleteGatewayBillingTypeInf" parameterType="com.cn.thinkx.oms.specialAccount.model.GatewayBillingTypeInf">
		DELETE FROM TB_GATEWAY_BILLING_TYPE
		WHERE B_ID = #{bId,jdbcType = VARCHAR}
		      AND GATEWAY_ID = #{gId,jdbcType = VARCHAR}
	</delete>
</mapper>
