<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cn.thinkx.oms.specialAccount.mapper.SpeAccountBatchOrderListMapper">
	
	<sql id="SpeAccountBatchOrderColumns">
	       L.ORDER_LIST_ID,
	       L.ORDER_ID,
	       L.USER_NAME,
	       L.PHONE_NO,
	       L.USER_CARD_NO,
	       L.AMOUNT,
	       L.COMPANYD_CODE,
	       L.ORDER_STAT,
	       L.ORDER_DESC,
	       L.RESV1,
	       L.RESV2,
	       L.RESV3,
	       L.RESV4,
	       L.RESV5,
	       L.RESV6,
	       L.DATA_STAT,
	       L.REMARKS,
	       L.CREATE_USER,
	       L.UPDATE_USER,
	       L.CREATE_TIME,
	       L.UPDATE_TIME,
	       L.LOCK_VERSION
	</sql>
	
	<select id="getSpeAccountBatchOrderListList" parameterType="string" resultType="SpeAccountBatchOrderList">
	   SELECT 
	   <include refid="SpeAccountBatchOrderColumns" /> 
	   FROM TB_SPEACCOUNT_BATCH_ORDER_LIST L
	  WHERE L.DATA_STAT='0' AND L.ORDER_ID = #{orderId} 
	  ORDER BY L.ORDER_STAT DESC,L.UPDATE_TIME DESC,ORDER_LIST_ID DESC
	</select>
	
	<select id="getSpeAccountBatchOrderListFailList" parameterType="string" resultType="SpeAccountBatchOrderList">
       SELECT 
       <include refid="SpeAccountBatchOrderColumns" /> 
       FROM TB_SPEACCOUNT_BATCH_ORDER_LIST L
      WHERE L.DATA_STAT='0' 
      AND (L.ORDER_STAT = '99' OR ORDER_STAT='0')
      AND L.ORDER_ID = #{orderId} 
      
    </select>
    
    <select id="getSpeAccountBatchOrderListByOrderIdAndPhoneNo" parameterType="SpeAccountBatchOrderList" resultType="SpeAccountBatchOrderList">
    SELECT 
       <include refid="SpeAccountBatchOrderColumns" /> 
       FROM TB_SPEACCOUNT_BATCH_ORDER_LIST L
      WHERE L.DATA_STAT='0' 
      AND L.ORDER_ID = #{orderId} 
      AND L.PHONE_NO=#{phoneNo}
    </select>
    
    <select id="getSpeAccountBatchOrderListByOrderListId" parameterType="string" resultType="SpeAccountBatchOrderList">
    SELECT 
       <include refid="SpeAccountBatchOrderColumns" /> 
       FROM TB_SPEACCOUNT_BATCH_ORDER_LIST L
      WHERE L.DATA_STAT='0' 
      AND L.ORDER_LIST_ID = #{orderListId} 
    </select>
		
	<insert id="addSpeAccountBatchOrderList" parameterType="java.util.ArrayList">  
		INSERT  INTO TB_SPEACCOUNT_BATCH_ORDER_LIST(
           ORDER_LIST_ID,
	       ORDER_ID,
	       USER_NAME,
	       PHONE_NO,
	       USER_CARD_NO,
	       AMOUNT,
	       COMPANYD_CODE,
	       ORDER_STAT,
	       ORDER_DESC,
	       RESV1,
	       RESV2,
	       RESV3,
	       RESV4,
	       RESV5,
	       RESV6,
	       DATA_STAT,
	       REMARKS,
	       CREATE_USER,
	       UPDATE_USER,
	       CREATE_TIME,
	       UPDATE_TIME,
	       LOCK_VERSION)   
         SELECT 
           ORDER_LIST_ID, 
           ORDER_ID,
	       USER_NAME,
	       PHONE_NO,
	       USER_CARD_NO,
	       AMOUNT,
	       COMPANYD_CODE,
	       ORDER_STAT,
	       ORDER_DESC,
	       RESV1,
	       RESV2,
	       RESV3,
	       RESV4,
	       RESV5,
	       RESV6,
	       DATA_STAT,
	       REMARKS,
	       CREATE_USER,
	       UPDATE_USER,
	       CREATE_TIME,
	       UPDATE_TIME,
	       LOCK_VERSION FROM(  
	        <foreach collection="list" item="item" index="index" separator="union all">  
	            select  
	            #{item.orderId,jdbcType=VARCHAR} as ORDER_ID,
	             #{item.userName,jdbcType=VARCHAR} as USER_NAME,
	             #{item.phoneNo,jdbcType=VARCHAR} as PHONE_NO,
	             #{item.userCardNo,jdbcType=VARCHAR} as USER_CARD_NO,
	             #{item.amount,jdbcType=VARCHAR} as AMOUNT,
	             #{item.companydCode,jdbcType=VARCHAR} as COMPANYD_CODE,
	             #{item.orderStat,jdbcType=VARCHAR} as ORDER_STAT,
	             #{item.orderDesc,jdbcType=VARCHAR} as ORDER_DESC,
	             #{item.resv1,jdbcType=VARCHAR} as RESV1,
	             #{item.resv2,jdbcType=VARCHAR} as RESV2,
	             #{item.resv3,jdbcType=VARCHAR} as RESV3,
	             #{item.resv4,jdbcType=VARCHAR} as RESV4,
	             #{item.resv5,jdbcType=VARCHAR} as RESV5,
	             #{item.resv6,jdbcType=VARCHAR} as RESV6,
	             '0' as DATA_STAT,
	             #{item.remarks,jdbcType=VARCHAR} as REMARKS,
	             #{item.createUser,jdbcType=VARCHAR} as CREATE_USER,
	             #{item.updateUser,jdbcType=VARCHAR} as UPDATE_USER,
	             #{item.createTime,jdbcType=BIGINT} as CREATE_TIME,
	             #{item.updateTime,jdbcType=BIGINT} as UPDATE_TIME,
	             0 as LOCK_VERSION
	            from  
	            dual  
	        </foreach>  
        ) A  
</insert> 

        <insert id="addOrderList" parameterType="SpeAccountBatchOrderList">
	        INSERT INTO TB_SPEACCOUNT_BATCH_ORDER_LIST
	          (ORDER_LIST_ID,
		       ORDER_ID,
		       USER_NAME,
		       PHONE_NO,
		       USER_CARD_NO,
		       AMOUNT,
		       COMPANYD_CODE,
		       ORDER_STAT,
		       ORDER_DESC,
		       RESV1,
		       RESV2,
		       RESV3,
		       RESV4,
		       RESV5,
		       RESV6,
		       DATA_STAT,
		       REMARKS,
		       CREATE_USER,
		       UPDATE_USER,
		       CREATE_TIME,
		       UPDATE_TIME,
		       LOCK_VERSION) 
	        VALUES 
	             (
	             #{orderListId},
	             #{orderId,jdbcType=VARCHAR},
	             #{userName,jdbcType=VARCHAR},
	             #{phoneNo,jdbcType=VARCHAR},
	             #{userCardNo,jdbcType=VARCHAR},
	             #{amount,jdbcType=VARCHAR},
	             #{companydCode,jdbcType=VARCHAR},
	             #{orderStat,jdbcType=VARCHAR},
	             #{orderDesc,jdbcType=VARCHAR},
	             #{resv1,jdbcType=VARCHAR},
	             #{resv2,jdbcType=VARCHAR},
	             #{resv3,jdbcType=VARCHAR},
	             #{resv4,jdbcType=VARCHAR},
	             #{resv5,jdbcType=VARCHAR},
	             #{resv6,jdbcType=VARCHAR},
	             '0',
	             #{remarks,jdbcType=VARCHAR}, 
	             #{createUser,jdbcType=VARCHAR}, 
	             #{updateUser,jdbcType=VARCHAR}, 
	             #{createTime,jdbcType=VARCHAR}, 
	             #{updateTime,jdbcType=VARCHAR}, 
	             0
	             ) 
        </insert>
        
        <update id="updateSpeAccountBatchOrderList" parameterType="SpeAccountBatchOrderList">
		      UPDATE TB_SPEACCOUNT_BATCH_ORDER_LIST
		        <trim prefix="SET" suffixOverrides=",">
		            <if test="orderId != null and orderId != '' ">ORDER_ID     = #{orderId,jdbcType=VARCHAR},</if>
		            <if test="userName != null and userName != '' ">USER_NAME    = #{userName,jdbcType=VARCHAR},</if>
		            <if test="phoneNo != null and phoneNo != '' ">PHONE_NO     = #{phoneNo,jdbcType=VARCHAR},</if>
		            <if test="userCardNo != null and userCardNo != '' ">USER_CARD_NO = #{userCardNo,jdbcType=VARCHAR},</if>
		            <if test="amount != null and amount != '' ">AMOUNT       = #{amount,jdbcType=VARCHAR},</if>
		            <if test="orderStat != null and orderStat != '' ">ORDER_STAT   = #{orderStat,jdbcType=VARCHAR},</if>
		            <if test="orderDesc != null and orderDesc != '' ">ORDER_DESC   = #{orderDesc,jdbcType=VARCHAR},</if>
		            <if test="dataStat != null and dataStat != '' ">DATA_STAT    = #{dataStat,jdbcType=VARCHAR},</if>
		            <if test="remarks != null and remarks != '' ">REMARKS      = #{remarks,jdbcType=VARCHAR},</if>
		            <if test="updateUser != null and updateUser != '' ">UPDATE_USER  = #{updateUser,jdbcType=VARCHAR},</if>
		            UPDATE_TIME = SYSDATE,
		            LOCK_VERSION = LOCK_VERSION + 1 
            </trim>
		      WHERE ORDER_LIST_ID = #{orderListId,jdbcType=VARCHAR} AND LOCK_VERSION = ${lockVersion} 
        </update>
        
        <update id="deleteSpeAccountBatchOrderList" parameterType="string">
            UPDATE TB_SPEACCOUNT_BATCH_ORDER_LIST SET DATA_STAT = '1' WHERE ORDER_LIST_ID=#{orderListId}
        </update>
        
	
</mapper>
