<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:include="main/header::header"/>-->
<head th:replace="main/header::header('')"/>
	<body>
		<header th:include="main/navbar::navbar" />
		<div id="contentwrapper">
 			<div class="main_content">
 				<nav>
		            <div id="jCrumbs" class="breadCrumb module">
		                <ul>
		                    <li><a href="#"><i class="icon-home"></i></a></li>
		                    <li>商品管理</li>
		                    <li>商品信息管理</li>
							<li>商品Sku列表</li>
		                </ul>
		            </div>
	        	</nav>
				<form id="searchForm" th:action="@{/goodsManage/goodsInf/getGoodsProductList}" th:object="${ecomGoodsProduct}" class="form-inline" method="post">
					<div class="row-fluid searchForm" id="h_search">
						<div class="span12">
							<!--<div class="input-prepend">
								<span class="add-on">商品名称</span>
								<input id="goodsName" name="goodsName" type="text" class="input-medium" th:value="*{goodsName}" maxlength="255"/>
							</div>-->
							<div class="pull-right">
								<!--<button type="submit" class="btn btn-search">查 询</button>
								<button type="button" class="btn btn-inverse btn-reset">重 置</button>-->
								<span th:if="${goodsInf.marketEnable == '0'}">
									<button type="button" class="btn btn-primary btn-add">新增商品Sku</button>
								</span>
							</div>
						</div>
					</div>
					<table class="table table-striped table-bordered dTableR table-hover" id="dt_gal">
						<thead>
							<tr>
								<th></th>
								<th>Sku代码</th>
								<th>供应商代码</th>
								<!--<th>上下架状态</th>-->
								<th>可用库存</th>
								<th>总库存</th>
								<th>商品价格(元)</th>
								<th>商品成本价(元)</th>
								<th>商品市场价(元)</th>
				                <th>货品标题</th>
				                <th>操作</th>
							</tr>
						</thead>
				        <tbody>
							<tr th:each="product, productStat : ${pageInfo.list}" th:inline="text">
								<td><span th:text="${productStat.count}"></span></td>
								<td><span th:text="${product.skuCode}"></span></td>
								<td><span th:text="${product.ecomCode}"></span></td>
								<!--<td><span th:text="${product.productEnableName}"></span></td>-->
								<td><span th:text="${product.isStore}"></span></td>
								<td><span th:text="${product.enableStore}"></span></td>
								<td><span th:text="${product.goodsPrice}"></span></td>
								<td><span th:text="${product.goodsCost}"></span></td>
								<td><span th:text="${product.mktPrice}"></span></td>
								<td><span th:text="${product.pageTitle}"></span></td>
				                <td>
									<a th:attr="productId=${product.productId}" title="详情" class="btn-mini btn-view" href="#"><i class="icon-search"></i></a>
									<span th:if="${goodsInf.marketEnable == '0'}">
										<a th:attr="productId=${product.productId}" title="编辑" class="btn-mini btn-edit" href="#"><i class="icon-edit"></i></a>
										<a th:attr="productId=${product.productId}" title="删除" class="btn-mini btn-delete" href="#"><i class="icon-remove"></i></a>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				    <div class="page-div row-fluid" style="margin-top:10px;" th:include="main/pagination::page" />
					<button type="button" class="btn btn-primary btn-backGoodsInf">返 回</button>
				</form>
			</div>
		</div>
		<div id="modal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<form id="modal-form2" class="form-horizontal form_validation_tip" method="post">
				<div class="modal-header">
					<button class="close btn-close" data-dismiss="modal1">&times;</button>
					<h3 id="modal_h2">编辑商品Sku上下架</h3>
				</div>
				<div class="modal-body">
					<input type="hidden" id="productId_" name="productId_" />
					<fieldset>
						<div class="control-group">
							<label class="control-label">商品Sku上下架：</label>
							<div class="controls">
								<select name="productEnable_" id="productEnable_" class="span3">
									<option th:each="m,mStat : ${productEnableList}" th:value="${m.code}">
										<span th:text="${m.name}"></span>
									</option>
								</select>
								<span class="help-block"></span>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer" style="text-align: center;">
					<button class="btn btn-primary btn-updateEnableCommit" type="submit">提交</button>
					<button class="btn btn-close" data-dismiss="modal" aria-hidden="true">关 闭</button>
				</div>
			</form>
		</div>
		<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<form id="goodsProductInfo" class="form-horizontal form_validation_tip" method="post" enctype="multipart/form-data">
				<div class="modal-header">
					<button class="close btn-close" data-dismiss="modal">&times;</button>
					<h3 id="modal_h"></h3>
				</div>
				<div class="modal-body">
					<input type="hidden" id="product_id" name="product_id"/>
					<input type="hidden" id="goods_id" name="goods_id" th:value="${goodsInf.goodsId}"/>
					<input type="hidden" id="spu_code" name="spu_code" th:value="${goodsInf.spuCode}"/>
					<input type="hidden" id="ecom_code" name="ecom_code" th:value="${goodsInf.ecomCode}"/>
					<input type="hidden" id="account_sign" name="account_sign" th:value="${goodsInf.BId}"/>
					<fieldset>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>Sku代码：</label>
							<div class="controls">
								<input type="text" class="span3" name="sku_code" id="sku_code" maxlength="10"/>
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>是否默认：</label>
							<div class="controls">
								<select name="default_sku_code" id="default_sku_code" class="span3">
									<option th:each="g,gStat : ${isDefaultList}" th:value="${g.code}">
										<span th:text="${g.name}"></span>
									</option>

								</select>
								<span class="help-block"></span>
							</div>
						</div>
                        <div class="control-group">
                            <label class="control-label"><span class="f_req">* </span>规格：</label>
                            <div class="controls">
								<input type="hidden" id="spec_id" name="spec_id" />
                                <select name="specId" id="specId" class="span3">
									<option value="">---请选择---</option>
									<option th:each="g,gStat : ${goodsSpecList}" th:value="${g.specId}">
                                        <span th:text="${g.specName}"></span>
                                    </option>

                                </select>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span class="f_req">* </span>规格值：</label>
                            <div class="controls">
                                <select name="specValueId" id="specValueId" class="span3">
									<option value="">---请选择---</option>
									<option th:each="g,gStat : ${goodsSpecValuesList}" th:value="${g.specValueId}">
                                        <span th:text="${g.specValueName}"></span>
                                    </option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                        </div>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>总库存：</label>
							<div class="controls">
								<input type="text" class="span3" name="enable_store" id="enable_store" maxlength="20" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
								<span class="help-block"></span>
							</div>
						</div>
                        <div class="control-group">
                            <label class="control-label"><span class="f_req">* </span>可用库存：</label>
                            <div class="controls">
                                <input type="text" class="span3" name="is_store" id="is_store" maxlength="20" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>商品价格(元)：</label>
							<div class="controls">
								<input type="text" class="span3 price" name="goods_price" id="goods_price" maxlength="20" onkeyup="checkPrice(this)"/>
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>商品成本价(元)：</label>
							<div class="controls">
								<input type="text" class="span3 price" name="goods_cost" id="goods_cost" maxlength="20" onkeyup="checkPrice(this)"/>
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>商品市场价(元)：</label>
							<div class="controls">
								<input type="text" class="span3 price" name="mkt_price" id="mkt_price" maxlength="20" onkeyup="checkPrice(this)"/>
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>货品标题：</label>
							<div class="controls">
								<input type="text" class="span3" name="page_title" id="page_title" maxlength="255" />
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>货品描述：</label>
							<div class="controls">
								<input type="text" class="span3" name="meta_description" id="meta_description" maxlength="255" />
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>图片：</label>
							<div class="controls">
								<input type="text" class="span3" name="pic_url" id="pic_url" readonly="readonly"/>
								<input type="file" class="span3" name="picUrlFile" id="picUrlFile"/>
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">备注：</label>
							<div class="controls">
								<input type="text" class="span3" name="remarks" id="remarks" maxlength="255"/>
								<span class="help-block"></span>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer" style="text-align: center;">
		            <button class="btn btn-primary btn-submit" type="submit">提 交 </button>
		            <button class="btn btn-close" data-dismiss="modal" aria-hidden="true">关 闭</button>
		        </div>
			</form>
		</div>
		<script th:src="@{/ecom/js/goodsManage/listGoodsProduct.js}"></script>
		<script type="text/javascript">
            //验证价格（带有小数点，小数点最多是两位）
            function checkPrice(obj){
                var value = $(obj).val();
                value = value.replace(/^\./g,""); //验证第一个字符是数字而不是.
                value = value.replace(/[^\d.]/g,"");  //清除“数字”和“.”以外的字符
                value = value.replace(/\.{2,}/g,"."); //只保留第一个. 清除多余的
                value = value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
                var re = /([0-9]+\.[0-9]{2})[0-9]*/;
                value = value.replace(re,"$1");
                $(obj).val(value);
            }
		</script>
	</body>
</html>

