<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="main/header::header" />
	<body>
		<header th:include="main/navbar::navbar" />
		<div id="contentwrapper">
 			<div class="main_content">
 				<nav>
		            <div id="jCrumbs" class="breadCrumb module">
		                <ul>
		                    <li><a href="#"><i class="icon-home"></i></a></li>
		                    <li>商品管理</li>
		                    <li>规格管理</li>
							<li>规格值管理</li>
		                </ul>
		            </div>
	        	</nav>
				<form id="searchForm" th:action="@{/goodsManage/goodsSpec/getGoodsSpecValuesList}" th:object="${ecomSpecValues}" class="form-inline" method="post">
					<div class="row-fluid searchForm" id="h_search">
						<div class="span12">
							<div class="input-prepend">
								<span class="add-on">规格名称</span>
								<input id="specName" name="specName" type="text" class="input-medium" th:value="*{specName}" maxlength="50"/>
							</div>
							<div class="input-prepend">
								<span class="add-on">规格值</span>
								<input id="specValue" name="specValue" type="text" class="input-medium" th:value="*{specValue}" maxlength="100"/>
							</div>
							<div class="pull-right">
								<button type="submit" class="btn btn-search">查 询</button>
								<button type="button" class="btn btn-inverse btn-reset">重 置</button>
								<button type="button" class="btn btn-primary btn-add">新增规格值</button>
							</div>
						</div>
					</div>
					<table class="table table-striped table-bordered dTableR table-hover" id="dt_gal">
						<thead>
							<tr>
								<th></th>
								<th>规格值Id</th>
								<th>所属规格</th>
								<th>规格名称</th>
								<th>规格值</th>
				                <th>规格值图片</th>
								<th>规格值类型</th>
				                <th>规格值排序号</th>
				                <th>操作</th>
							</tr>
						</thead>
				        <tbody>
							<tr th:each="spec, specStat : ${pageInfo.list}" th:inline="text">
								<td><span th:text="${specStat.count}"></span></td>
								<td><span th:text="${spec.specValueId}"></span></td>
								<td><span th:text="${spec.specName}"></span></td>
								<td><span th:text="${spec.specValueName}"></span></td>
								<td><span th:text="${spec.specValue}"></span></td>
								<td>
									<span  th:if="${spec.specImage} != null">
										<a th:href="${spec.specImage}">[[${spec.specImage}]]</a>
									</span>
								</td>
								<td><span th:text="${spec.specType}"></span></td>
								<td><span th:text="${spec.specOrder}"></span></td>
				                <td>
									<a th:attr="specValueId=${spec.specValueId}" title="编辑" class="btn-mini btn-edit" href="#"><i class="icon-edit"></i></a>
									<a th:attr="specValueId=${spec.specValueId}" title="删除" class="btn-mini btn-delete" href="#"><i class="icon-remove"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
				    <div class="page-div row-fluid" style="margin-top:10px;" th:include="main/pagination::page" />
			    </form>
			</div>
		</div>
		<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<form id="goodsSpecValuesInfo" class="form-horizontal form_validation_tip" method="post" enctype="multipart/form-data">
				<div class="modal-header">
					<button class="close btn-close" data-dismiss="modal">&times;</button>
					<h3 id="modal_h"></h3>
				</div>
				<div class="modal-body">
					<input type="hidden" id="spec_id" name="spec_id" th:value="${ecomSpecValues.specId}"/>
					<input type="hidden" id="spec_value_id" name="spec_value_id"/>
					<fieldset>
						<div class="control-group">
							<label class="control-label">规格类型：</label>
							<div class="controls">
								<!--<input type="text" class="span3" name="spec_type" id="spec_type" maxlength="4"/>-->
								<select id="spec_type" name="spec_type" class="span3">
									<option value="">--请选择--</option>
									<option th:each="g,gStat : ${goodsSpecTypeList}" th:value="${g.code}"><span th:text="${g.value}" /></option>
								</select>
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>规格值名称：</label>
							<div class="controls">
								<input type="text" class="span3" name="spec_value_name" id="spec_value_name" maxlength="100"/>
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>规格值：</label>
							<div class="controls">
								<input type="text" class="span3" name="spec_value" id="spec_value" maxlength="100"/>
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>规格图片：</label>
							<div class="controls">
								<input type="text" class="span3" name="spec_image" id="spec_image" readonly="readonly"/>
								<input type="file" class="span3" name="specImageFile" id="specImageFile"/>
								<span class="help-block"></span>
							</div>	
						</div>

						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>规格排序：</label>
							<div class="controls">
								<input type="text" class="span3" name="spec_order" id="spec_order" maxlength="20" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">备注：</label>
							<div class="controls">
								<input type="text" class="span3" name="remarks" id="remarks" maxlength="256"/>
								<span class="help-block"></span>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer" style="text-align: center;">
		            <button class="btn btn-primary btn-submit" type="submit">提 交 </button>
		            <button class="btn btn-close" data-dismiss="modal" aria-hidden="true">关 闭</button>
		        </div>
			</form>
		</div>
		<script th:src="@{/ecom/js/goodsManage/listGoodsSpecValues.js}"></script>
	</body>
</html>

