<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	
	
	<!--刷新BaseDict begin -->
	<bean id="doBaseDictBizJob" class="com.cn.thinkx.wecard.centre.module.quartz.BaseDictBizJob"></bean>
	
	<bean id="doBaseDictBizTask" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">  
	    <property name="jobClass" value="com.cn.thinkx.wecard.centre.module.quartz.conf.JobDetailBean" />  
	    <property name="durability" value="true" />
	    <property name="description" value="刷新 account配置" />
	    <property name="jobDataAsMap">
	           <map>
	               <entry key="targetObject" value="doBaseDictBizJob" />  
	               <entry key="targetMethod" value="doRefreshBaseDictKV" />
	           </map>
	    </property>
   </bean>
   
	<!--    	触发的时间  每次相隔5分钟 执行 -->
	<bean id="doBaseDictBizTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="doBaseDictBizTask" />
		</property>
		<property name="cronExpression">
			<value>0 0/1 * * * ?</value>
		</property>
	</bean>
	<!--刷新BaseDict end -->
	
	
  
	<!-- 以下是Quartz定时调度配制-->  
	<bean id="schedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
	    <property name="configLocation" value="classpath:conf/quartz.properties" />  
	    <property name="dataSource" ref="dataSource" />
	    <property name="applicationContextSchedulerContextKey" value="applicationContext" />
	    <!--可选，QuartzScheduler 启动时更新己存在的Job，这样就不用每次修改targetObject后删除qrtz_job_details表对应记录了 -->  
	    <property name="overwriteExistingJobs" value="true" />
	    <!-- 设置自动启动 -->  
	    <property name="autoStartup" value="true" />   
	    <property name="startupDelay" value="5"/>  
	    <property name="triggers">
	        <list>  
				<ref bean="doBaseDictBizTrigger"/>
	        </list>  
	    </property>  
	</bean>  
</beans>

