<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.thinkx.diy.api.system.mapper.RoleResourceMapper">

  <sql id="RoleResourceColunms">
    role_id, 
    resource_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultType="RoleResource">
    select 
    <include refid="RoleResourceColunms" />
    from tb_web_role_resource
    where role_id = #{roleId,jdbcType=VARCHAR}
      and resource_id = #{resourceId,jdbcType=VARCHAR}
  </select>
  
</mapper>