<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebeijia.zl.shop.dao.goods.mapper.TbEcomGoodsGalleryMapper">

    <sql id="goodsGalleryColumns">
        img_id,
        goods_id,
        thumbnail,
        small,
        big,
        original,
        tiny,
        is_default,
        sort,
        data_stat,
        remarks,
        create_user,
        update_user,
        create_time,
        update_time,
        lock_version
    </sql>

    <sql id="tableName">
      tb_ecom_goods_gallery
    </sql>

    <select id="getGoodsGalleryList" parameterType="TbEcomGoodsGallery" resultType="TbEcomGoodsGallery">
        select
          <include refid="goodsGalleryColumns"/>
        from
          <include refid="tableName"/>
        where data_stat = '0'
        order by create_time desc
    </select>

    <select id="getGoodsGalleryByIsDefault" parameterType="String" resultType="TbEcomGoodsGallery">
        select
          <include refid="goodsGalleryColumns"/>
        from
          <include refid="tableName"/>
        where data_stat = '0'
          and is_default = #{isDefault}
        order by create_time desc
    </select>

    <select id="getGoodsGalleryBySort" parameterType="Integer" resultType="TbEcomGoodsGallery">
        select
        <include refid="goodsGalleryColumns"/>
        from
        <include refid="tableName"/>
        where data_stat = '0'
        and sort = #{sort}
        order by create_time desc
    </select>

</mapper>