<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebeijia.zl.shop.dao.goods.mapper.TbEcomGoodsDetailMapper">

    <sql id="goodsDetailColumns">
        detail_id,
        goods_id,
        detail_name,
        intro,
        params,
        specs,
        view_count,
        buy_count,
        data_stat,
        remarks,
        create_user,
        update_user,
        create_time,
        update_time,
        lock_version
    </sql>

    <sql id="tableName">
      tb_ecom_goods_detail
    </sql>

    <select id="getGoodsDetailList" parameterType="TbEcomGoodsDetail" resultType="TbEcomGoodsDetail">
        select
          <include refid="goodsDetailColumns"/>
        from
          <include refid="tableName"/>
        where data_stat = '0'
        order by create_time desc
    </select>

</mapper>