<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebeijia.zl.shop.dao.goods.mapper.TbEcomGoodsGalleryMapper">

    <sql id="goodsGalleryColumns">
        g.img_id,
        g.goods_id,
        g.thumbnail,
        g.small,
        g.big,
        g.original,
        g.tiny,
        g.is_default,
        g.sort,
        g.data_stat,
        g.remarks,
        g.create_user,
        g.update_user,
        g.create_time,
        g.update_time,
        g.lock_version
    </sql>

    <sql id="tableName">
      tb_ecom_goods_gallery g
    </sql>

    <select id="getGoodsGalleryList" parameterType="TbEcomGoodsGallery" resultType="TbEcomGoodsGallery">
        select
          <include refid="goodsGalleryColumns"/>,
          d.goods_name as goodsName
        from
          <include refid="tableName"/>
        left join tb_ecom_goods d on d.goods_id = g.goods_id
        where g.data_stat = '0'
        order by g.create_time desc
    </select>

    <select id="getGoodsGalleryByIsDefault" parameterType="String" resultType="TbEcomGoodsGallery">
        select
          <include refid="goodsGalleryColumns"/>
        from
          <include refid="tableName"/>
        where g.data_stat = '0'
          and g.is_default = #{isDefault}
        order by g.create_time desc
    </select>

    <select id="getGoodsGalleryBySort" parameterType="Integer" resultType="TbEcomGoodsGallery">
        select
          <include refid="goodsGalleryColumns"/>
        from
          <include refid="tableName"/>
        where g.data_stat = '0'
        and g.sort = #{sort}
    </select>

</mapper>