<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebeijia.zl.shop.dao.goods.mapper.TbEcomGoodsProductMapper">


    <select id="getInventoryList" parameterType="TbEcomGoodsProduct" resultType="TbEcomGoodsProduct">
        select g.goods_name,
        g.market_enable,
        p.sku_code,
        p.ecom_code,
        p.product_enable,
        p.is_store,
        p.page_title
        from tb_ecom_goods g, tb_ecom_goods_product p
        where g.goods_id = p.goods_id
        and g.data_stat = '0'
        and p.data_stat = '0'
        and p.ecom_code = #{ecomcode}
        <if test="goodsName != null and goodsName != '' ">
            and g.goods_name like '%' || #{goodsName} || '%'
        </if>
        <if test="pageTitle != null and pageTitle != '' ">
            and p.page_title like '%' || #{pageTitle} || '%'
        </if>
        <if test="marketEnable !=null and marketEnable !='' ">
            and g.market_enable = #{marketEnable}
        </if>

    </select>


    <select id="getGoodsProductListByGoodsId" parameterType="String" resultType="TbEcomGoodsProduct">
		select p.product_id,
		       p.goods_id,
		       p.spu_code,
		       p.sku_code,
		       p.ecom_code,
		       p.product_enable,
		       p.is_store,
		       p.enable_store,
		       p.goods_price,
		       p.goods_cost,
		       p.mkt_price,
		       p.page_title,
		       p.meta_description,
		       p.pic_url,
		       p.data_stat,
		       p.remarks,
		       p.create_user,
		       p.update_user,
		       p.create_time,
		       p.update_time,
		       p.lock_version,
		       g.goods_name,
		       g.market_enable
		  from tb_ecom_goods g, tb_ecom_goods_product p
		 where g.goods_id = p.goods_id
		   and g.data_stat = '0'
		   and p.data_stat = '0'
		   and g.goods_id = #{goodsId}

	</select>

    <select id="getGoodsProductByPrimaryKey" parameterType="String" resultType="TbEcomGoodsProduct">
		select p.product_id,
	       p.goods_id,
	       p.spu_code,
	       p.sku_code,
	       p.ecom_code,
	       p.product_enable,
	       p.is_store,
	       p.enable_store,
	       p.goods_price,
	       p.goods_cost,
	       p.mkt_price,
	       p.page_title,
	       p.meta_description,
	       p.pic_url,
	       p.data_stat,
	       p.remarks,
	       p.create_user,
	       p.update_user,
	       p.create_time,
	       p.update_time,
	       p.lock_version,
	       g.goods_name
	  from tb_ecom_goods g, tb_ecom_goods_product p
	 where g.goods_id = p.goods_id
	   and g.data_stat = '0'
	   and p.data_stat = '0'
	   and p.product_id = #{primaryKey}
	</select>


</mapper>