<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebeijia.zl.shop.dao.goods.mapper.TbEcomGoodsDetailMapper">

    <sql id="goodsDetailColumns">
        d.detail_id,
        d.goods_id,
        d.detail_name,
        d.intro,
        d.params,
        d.specs,
        d.view_count,
        d.buy_count,
        d.data_stat,
        d.remarks,
        d.create_user,
        d.update_user,
        d.create_time,
        d.update_time,
        d.lock_version
    </sql>

    <sql id="tableName">
      tb_ecom_goods_detail d
    </sql>

    <select id="getGoodsDetailList" parameterType="TbEcomGoodsDetail" resultType="TbEcomGoodsDetail">
        select
          <include refid="goodsDetailColumns"/>,
          g.goods_name as goodsName
        from
          <include refid="tableName"/>
        inner join tb_ecom_goods g on g.goods_id = d.goods_id
        where d.data_stat = '0'
          and d.goods_id = #{goodsId}
        order by d.create_time desc
    </select>

    <select id="getGoodsDetailByGoodsId" parameterType="String" resultType="TbEcomGoodsDetail">
        select
          <include refid="goodsDetailColumns"/>
        from
          <include refid="tableName"/>
        where d.data_stat = '0'
        and d.goods_id = #{goodsId}
    </select>

</mapper>