<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebeijia.zl.shop.dao.goods.mapper.TbEcomGoodsMapper">

    <sql id="ecomGoodsColumns">
        g.goods_id,
        g.goods_name,
        g.spu_code,
        g.ecom_code,
        g.goods_type,
        g.b_id,
        g.unit,
        g.weight,
        g.default_sku_code,
        g.market_enable,
        g.brief,
        g.goods_detail,
        g.have_groups,
        g.have_params,
        g.have_spec,
        g.is_disabled,
        g.ponumber,
        g.goods_sord,
        g.goods_weight,
        g.grade,
        g.is_hot,
        g.goods_img,
        g.data_stat,
        g.remarks,
        g.create_user,
        g.update_user,
        g.create_time,
        g.update_time,
        g.lock_version
    </sql>

    <sql id="tableName">
        tb_ecom_goods g
    </sql>

    <select id="getGoodsInfList" parameterType="TbEcomGoods" resultType="TbEcomGoods">
        select
          <include refid="ecomGoodsColumns"/>,
          b.b_name as BName
        from
          <include refid="tableName"/>
        left join tb_billing_type b on b.b_id = g.b_id
        where g.data_stat = '0'
        <if test="goodsName != null and goodsName != ''">
          and g.goods_name like "%"#{goodsName}"%"
        </if>
        <if test="spuCode != null and spuCode != ''">
            and g.spu_code = #{spuCode}
        </if>
        <if test="ecomCode != null and ecomCode != ''">
            and g.ecom_code = #{ecomCode}
        </if>
        <if test="goodsType != null and goodsType != ''">
            and g.goods_type = #{goodsType}
        </if>
        <if test="BId != null and BId != ''">
            and g.b_id  = #{BId}
        </if>
        <if test="marketEnable != null and marketEnable != ''">
            and g.market_enable = #{marketEnable}
        </if>
        <if test="haveGroups != null and haveGroups != ''">
            and g.have_groups = #{haveGroups}
        </if>
        <if test="isDisabled != null and isDisabled != ''">
            and g.is_disabled = #{isDisabled}
        </if>
        <if test="isHot != null and isHot != ''">
            and g.is_hot = #{isHot}
        </if>
    </select>

    <select id="getGoodsInfByGoodsId" parameterType="String" resultType="TbEcomGoods">
        select
            <include refid="ecomGoodsColumns"/>,
            b.b_name as BName
        from
          <include refid="tableName"/>
        left join tb_billing_type b on b.b_id = g.b_id
        where g.data_stat = '0'
          and g.goods_id = #{goodsId}
    </select>

    <select id="getGoodsList"  parameterType="com.ebeijia.zl.shop.dao.goods.domain.Goods"  resultType="com.ebeijia.zl.shop.dao.goods.domain.Goods">
        select g.goods_id,
        g.goods_name,
        g.spu_code,
        p.sku_code,
        p.product_id,
        g.ecom_code,
        pro.provider_name ecom_name,
        g.market_enable,
        p.pic_url,
        b.b_id,
        c.cat_name,
        pc.cat_name as parent_cat_name,
        p.goods_price,
        d.view_count,
        d.buy_count
        from tb_ecom_goods g
        inner join tb_ecom_goods_product p
        on p.goods_id = g.goods_id
        left join tb_ecom_cat_goods_role r
        on r.goods_id = g.goods_id
        left join tb_ecom_goods_billing b
        on b.goods_id = g.goods_id
        left join tb_ecom_goods_detail d
        on d.goods_id = g.goods_id
        left join tb_ecom_goods_category c
        on r.cat_id = c.cat_id
        and c.data_stat = '0'
        left join tb_provider_inf pro
        on g.ecom_code = pro.law_code
        left join tb_ecom_goods_category pc
        on pc.cat_id = c.parent_id
        and pc.data_stat = '0'
        where g.data_stat = '0'
        and p.data_stat = '0'
        <if test="ecomCode != null and ecomCode != '' ">
            and	 g.ecom_code = #{ecomCode}
        </if>
        <if test="spuCode != null and spuCode != '' ">
            and	 g.spu_code = #{spuCode}
        </if>
        <if test="goodsName != null and goodsName != '' ">
            and	 g.goods_name like '%' || #{goodsName} || '%'
        </if>
        <if test="marketEnable != null and marketEnable != '' ">
            and	 g.market_enable = #{marketEnable}
        </if>
        <if test="skuCode != null and skuCode != '' ">
            and	 p.sku_code = #{skuCode}
        </if>
        <if test="productId != null and productId != '' ">
            and	 p.product_id = #{productId}
        </if>
        <if test="bId != null and bId != '' ">
            and	 b.b_id = #{bId}
        </if>
        group by g.goods_id
    </select>

    <select id="getGoods"  parameterType="com.ebeijia.zl.shop.dao.goods.domain.Goods"  resultType="com.ebeijia.zl.shop.dao.goods.domain.Goods">
        select g.goods_id,
        g.goods_name,
        g.spu_code,
        p.sku_code,
        p.product_id,
        g.ecom_code,
        pro.provider_name ecom_name,
        g.market_enable,
        p.pic_url,
        b.b_id,
        c.cat_name,
        pc.cat_name as parent_cat_name,
        p.goods_price,
        d.view_count,
        d.buy_count,
        specv.spec_value
        from tb_ecom_goods g
        inner join tb_ecom_goods_product p
        on p.goods_id = g.goods_id
        left join tb_ecom_cat_goods_role r
        on r.goods_id = g.goods_id
        left join tb_ecom_goods_billing b
        on b.goods_id = g.goods_id
        left join tb_ecom_goods_detail d
        on d.goods_id = g.goods_id
        left join tb_ecom_goods_category c
        on r.cat_id = c.cat_id
        and c.data_stat = '0'
        left join tb_ecom_goods_category pc
        on pc.cat_id = c.parent_id
        and pc.data_stat = '0'
        left join tb_provider_inf pro
        on g.ecom_code = pro.law_code
        left join tb_ecom_goods_spec spec
        on spec.product_id = p.product_id
        left join tb_ecom_spec_values specv
        on specv.spec_value_id = spec.spec_value_id
        where g.data_stat = '0'
        and p.data_stat = '0'
        <if test="ecomCode != null and ecomCode != '' ">
            and	 g.ecom_code = #{ecomCode}
        </if>
        <if test="spuCode != null and spuCode != '' ">
            and	 g.spu_code = #{spuCode}
        </if>
        <if test="goodsName != null and goodsName != '' ">
            and	 g.goods_name like '%' || #{goodsName} || '%'
        </if>
        <if test="marketEnable != null and marketEnable != '' ">
            and	 g.market_enable = #{marketEnable}
        </if>
        <if test="skuCode != null and skuCode != '' ">
            and	 p.sku_code = #{skuCode}
        </if>
        <if test="productId != null and productId != '' ">
            and	 p.product_id = #{productId}
        </if>
        <if test="bId != null and bId != '' ">
            and	 b.b_id = #{bId}
        </if>
        group by p.product_id
    </select>

    <select id="getGoodsByCategory"  parameterType="com.ebeijia.zl.shop.dao.goods.domain.Goods"  resultType="com.ebeijia.zl.shop.dao.goods.domain.Goods">
        select g.goods_id,
        g.goods_name,
        g.spu_code,
        g.ecom_code,
        g.cat_id,
        g.goods_type,
        g.unit,
        g.weight,
        g.default_sku_code,
        g.market_enable,
        g.brief,
        g.have_params,
        g.have_spec,
        g.is_disabled,
        g.ponumber,
        g.goods_sord,
        g.goods_weight,
        g.grade,
        g.is_hot,
        g.goods_img,
        g.data_stat,
        g.remarks,
        g.create_user,
        g.update_user,
        g.create_time,
        g.update_time,
        g.lock_version,
        p.goods_price,
        p.pic_url
        from tb_ecom_goods          g,
        tb_ecom_cat_goods_role r,
        tb_ecom_goods_category c,
        tb_ecom_goods_category c2,
        tb_ecom_goods_product  p
        where c2.cat_id = c.parent_id
        and c.cat_id = r.cat_id
        and r.goods_id = g.goods_id
        and g.default_sku_code = p.sku_code
        and g.data_stat = '0'
        and c.data_stat = '0'
        and r.data_stat = '0'
        and c2.data_stat = '0'
        and p.data_stat = '0'
        and g.market_enable = '1'
        and c2.cat_id = #{parentcatid}
        and g.ecom_code = #{ecomcode}
        <if test="catid != null and catid != '' ">
            and c.cat_id = #{catId}
        </if>
    </select>



    <select id="getGoodsByBId"  parameterType="com.ebeijia.zl.shop.dao.goods.domain.Goods"  resultType="com.ebeijia.zl.shop.dao.goods.domain.Goods">
        SELECT G.GOODS_ID,
        G.GOODS_NAME,
        G.SPU_CODE,
        G.ECOM_CODE,
        G.CAT_ID,
        G.GOODS_TYPE,
        G.UNIT,
        G.WEIGHT,
        G.DEFAULT_SKU_CODE,
        G.MARKET_ENABLE,
        G.BRIEF,
        G.HAVE_PARAMS,
        G.HAVE_SPEC,
        G.IS_DISABLED,
        G.PONUMBER,
        G.GOODS_SORD,
        G.GOODS_WEIGHT,
        G.GRADE,
        G.IS_HOT,
        G.GOODS_IMG,
        G.DATA_STAT,
        G.REMARKS,
        G.CREATE_USER,
        G.UPDATE_USER,
        G.CREATE_TIME,
        G.UPDATE_TIME,
        G.LOCK_VERSION,
        P.GOODS_PRICE,
        P.PIC_URL
        FROM TB_ECOM_GOODS          G,
        TB_ECOM_GOODS_BILLING B,
        TB_ECOM_GOODS_PRODUCT  P
        WHERE B.GOODS_ID = G.GOODS_ID
        AND G.DEFAULT_SKU_CODE = P.SKU_CODE
        AND G.DATA_STAT = '0'
        AND B.DATA_STAT = '0'
        AND P.DATA_STAT = '0'
        AND G.MARKET_ENABLE = '1'
        <if test="bId != null and bId != '' ">
            AND B.B_ID = #{bId}
        </if>
    </select>

    <select id="selectGoodsByProductId" parameterType="String" resultType="com.ebeijia.zl.shop.dao.goods.domain.Goods">
	Select
   		g.GOODS_ID,
		g.GOODS_NAME,
		g.SPU_CODE,
		g.ECOM_CODE,
		g.CAT_ID,
		g.GOODS_TYPE,
		g.UNIT,
		g.WEIGHT,
		g.DEFAULT_SKU_CODE,
		g.MARKET_ENABLE,
		g.BRIEF,
		g.HAVE_PARAMS,
		g.HAVE_SPEC,
		g.IS_DISABLED,
		g.PONUMBER,
		g.GOODS_SORD,
		g.GOODS_WEIGHT,
		g.GRADE,
		g.IS_HOT,
		g.GOODS_IMG,
    	p.PRODUCT_ID,
    	p.PAGE_TITLE,
    	p.GOODS_PRICE
    From tb_ecom_goods g ,tb_ecom_goods_product p
    	where g.goods_id=p.goods_id
    	and p.PRODUCT_ID=#{productId}
	</select>


    <select id="selectGoodsAndDefProductByGoodId" parameterType="String" resultType="com.ebeijia.zl.shop.dao.goods.domain.Goods">
	Select
   		g.GOODS_ID,
		g.GOODS_NAME,
		g.SPU_CODE,
		g.ECOM_CODE,
		g.CAT_ID,
		g.GOODS_TYPE,
		g.UNIT,
		g.WEIGHT,
		g.DEFAULT_SKU_CODE,
		g.MARKET_ENABLE,
		g.BRIEF,
		g.HAVE_PARAMS,
		g.HAVE_SPEC,
		g.IS_DISABLED,
		g.PONUMBER,
		g.GOODS_SORD,
		g.GOODS_WEIGHT,
		g.GRADE,
		g.IS_HOT,
		g.GOODS_IMG,
    	p.PRODUCT_ID,
    	p.PAGE_TITLE,
    	p.GOODS_PRICE
    From tb_ecom_goods g Left Join tb_ecom_goods_product p
    	On p.goods_id=g.goods_id And p.sku_code=g.DEFAULT_SKU_CODE
    	where g.GOODS_ID=#{goodsId}
	</select>

    <select id="getGoodsPayRateByGoodsId" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM TB_ECOM_ORDER_PRODUCT_ITEM ITEM
		LEFT JOIN TB_ECOM_PLATF_SHOP_ORDER PSO ON ITEM.S_ORDER_ID = PSO.S_ORDER_ID
 		WHERE 1=1
 		AND ITEM.PRODUCT_ID IN
 		(SELECT P.PRODUCT_ID FROM TB_ECOM_GOODS_PRODUCT P WHERE P.GOODS_ID = #{goodsId})
 		AND PSO.SUB_ORDER_STATUS = '14'
	</select>

    <select id="getGoodsBySpuCode" parameterType="String" resultType="TbEcomGoods">
        select
          <include refid="ecomGoodsColumns" />
        from
          <include refid="tableName" />
        where g.data_stat = '0'
        and g.spu_code = #{spuCode}
    </select>
</mapper>