<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebeijia.zl.coupon.dao.mapper.TbCouponTransLogMapper">

    <sql id="CouponTranLogColumns">
    g.coupon_txn_id,
	g.order_id,
	g.coupon_amt,
	g.trans_amt/100 trans_amt,
	g.org_trans_amt/100 org_trans_amt,
	g.trans_fee,
	g.lock_version
    </sql>

    <sql id="tableName">
        tb_coupon_trans_log g
    </sql>

    <select id="getTransLog" parameterType="TbCouponTransLog" resultType="TbCouponTransLog">
        select
            <include refid="CouponTranLogColumns" />,
            m.person_id memberName,
            p.coupon_name couponName
        from
          <include refid="tableName" />
        LEFT JOIN tb_coupon_product p ON g.coupon_code = p.coupon_code
        LEFT JOIN tb_ecom_member m ON g.member_id = m.member_id
        where g.data_stat = '0'
        <if test="orderId != null and orderId != ''">
            and g.order_id=#{orderId}
        </if>
        order by g.create_time desc
    </select>
</mapper>