<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebeijia.zl.service.account.mapper.AccountInfMapper">


	<select id="getAccountVOToUserList" parameterType="java.lang.String" resultType="AccountVO">
		SELECT
		ai.account_no,
		ai.user_id,
		ai.b_id,
		ai.account_type,
		ai.acc_bal,
		ai.coupon_bal,
		u.user_name,
		p.personal_name
		FROM
		tb_account_inf ai,
		tb_user_inf u,
		tb_person_inf p,
		tb_channel_user_inf cui
		where
			ai.user_id=u.user_id
		and p.user_id=u.user_id
		and u.user_id=cui.user_id
		and cui.external_id=#{userChnlId}
		and cui.channel_code=#{userChnl}
		and u.user_type=#{userType}
	</select>
	
	
	<select id="getAccountVOToCompanyList" parameterType="java.lang.String" resultType="AccountVO">
		SELECT
		ai.account_no,
		ai.user_id,
		ai.b_id,
		ai.account_type,
		ai.acc_bal,
		ai.coupon_bal,
		u.user_name,
		p.`name`	AS personal_name
		FROM
		tb_account_inf ai,
		tb_user_inf u,
		tb_company_inf p
		
		where ai.user_id=u.user_id
		and p.company_id=u.company_id
		and u.user_name=#{userChnlId}
		and u.user_type=#{userType}
	</select>
	
	
<select id="getAccountVOToProviderList" parameterType="java.lang.String" resultType="AccountVO">
	SELECT
		ai.account_no,
		ai.user_id,
		ai.b_id,
		ai.account_type,
		ai.acc_bal,
		ai.coupon_bal,
		u.user_name,
		p.provider_name	AS personal_name
		FROM
		tb_account_inf ai,
		tb_user_inf u,
		tb_provider_inf p
		
		where 
			ai.user_id=u.user_id
		and p.provider_id=u.company_id
		and u.user_name=#{userChnlId}
		and u.user_type=#{userType}
	</select>
	
	
  <select id="getAccountVOToRetailList" parameterType="java.lang.String" resultType="AccountVO">
	SELECT
		ai.account_no,
		ai.user_id,
		ai.b_id,
		ai.account_type,
		ai.acc_bal,
		ai.coupon_bal,
		u.user_name,
		p.channel_name	AS personal_name
		FROM
		tb_account_inf ai,
		tb_user_inf u,
		tb_retail_chnl_inf p
		
		where 
		    ai.user_id=u.user_id
		and p.channel_id=u.company_id
		and u.user_name=#{userChnlId}
		and u.user_type=#{userType}
	</select>

</mapper>