<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:include="main/header::header"/>-->
<head th:replace="main/header::header('')"/>
	<body>
		<header th:include="main/navbar::navbar" />
		<div id="contentwrapper">
 			<div class="main_content">
 				<nav>
		            <div id="jCrumbs" class="breadCrumb module">
		                <ul>
		                    <li><a href="#"><i class="icon-home"></i></a></li>
		                    <li>系统信息</li>
		                    <li>banner管理</li>
		                </ul>
		            </div>
	        	</nav>
				<form id="searchForm" th:action="@{/banner/getBannerList}" th:object="${banner}" class="form-inline" method="post">
					<div class="row-fluid searchForm" id="h_search">
						<div class="span12">
							<div class="input-prepend">
								<span class="add-on">提示文字</span>
								<input id="bannerText" name="bannerText" type="text" class="input-medium" th:value="*{bannerText}" maxlength="100"/>
							</div>
							<!--<div class="input-prepend">
								<span class="add-on">停用状态</span>
								<select id="goodsType" name="goodsType" class="input-medium">
									<option value=""><span th:text="请选择" /></option>
									<option th:each="d,dStat : ${disableList}" th:value="${d.code}"><span th:text="${d.name}" /></option>
								</select>
							</div>-->
							<div class="pull-right">
								<button type="submit" class="btn btn-search">查 询</button>
								<button type="button" class="btn btn-inverse btn-reset">重 置</button>
								<button type="button" class="btn btn-primary btn-add">新增banner</button>
							</div>
						</div>
					</div>
					<table class="table table-striped table-bordered dTableR table-hover" id="dt_gal">
						<thead>
							<tr>
								<th>序号</th>
								<th>banner图片</th>
								<th>目标链接</th>
				                <th>规格</th>
				                <th>位置</th>
				                <th>提示文字</th>
								<th>排序号</th>
								<!--<th>图片状态</th>-->
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="b,bannerStat : ${pageInfo.list}" th:inline="text">
								<td><span th:text="${bannerStat.count}"></span></td>
								<td>
									<img th:if="${b.imageUrl} != null" th:src="${b.imageUrl}" style="height: 200px; width: 200px;"/>
									<!--<a th:href="${b.imageUrl}">[[${b.imageUrl}]]</a>-->
								</td>
								<td><span th:text="${b.bannerUrl}"></span></td>
				                <td><span th:text="${b.spec}"></span></td>
				                <td><span th:text="${b.position}"></span></td>
								<td><span th:text="${b.bannerText}"></span></td>
								<td><span th:text="${b.sort}"></span></td>
								<!--<td><span th:text="${b.disableName}"></span></td>-->
								<td>
									<a th:attr="bannerId=${b.id}" title="编辑" class="btn-mini btn-edit" href="#"><i class="icon-edit"></i></a>
									<!--<a th:attr="bannerId=${b.id}" title="是否停用" class="btn-mini btn-updateDisable" href="#"><i class="icon-pencil"></i></a>-->
									<a th:attr="bannerId=${b.id}" title="删除" class="btn-mini btn-delete" href="#"><i class="icon-remove"></i></a>
                                </td>
							</tr>
						</tbody>
					</table>
					<div class="page-div row-fluid" style="margin-top:10px;" th:include="main/pagination::page" />
				</form>
			</div>
		</div>
		<div id="modal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<form id="modal-form2" class="form-horizontal form_validation_tip" method="post">
				<div class="modal-header">
					<button class="close btn-close" data-dismiss="modal1">&times;</button>
					<h3 id="modal_h2">编辑banner停用状态</h3>
				</div>
				<div class="modal-body">
					<input type="hidden" id="bannerId_" name="bannerId_" />
					<fieldset>
						<div class="control-group">
							<label class="control-label">banner是否停用：</label>
							<div class="controls">
								<select name="disable_" id="disable_" class="span3">
									<option th:each="d,dStat : ${disableList}" th:value="${d.code}">
										<span th:text="${d.name}"></span>
									</option>
								</select>
								<span class="help-block"></span>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer" style="text-align: center;">
					<button class="btn btn-primary btn-updateDisableCommit" type="submit">提交</button>
					<button class="btn btn-close" data-dismiss="modal" aria-hidden="true">关 闭</button>
				</div>
			</form>
		</div>
		<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<form id="bannerInfo" class="form-horizontal form_validation_tip" method="post" enctype="multipart/form-data">
				<div class="modal-header">
					<button class="close btn-close" data-dismiss="modal">&times;</button>
					<h3 id="modal_h"></h3>
				</div>
				<div class="modal-body">
					<input type="hidden" id="banner_id" name="banner_id"/>
					<fieldset>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>banner图片：</label>
							<div class="controls">
								<input type="text" class="span3" name="image_url" id="image_url" readonly="readonly"/>
								<input type="file" class="span3" name="imageUrlFile" id="imageUrlFile"/>
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">目标链接：</label>
							<div class="controls">
								<input type="text" class="span3" name="banner_url" id="banner_url" maxlength="255"/>
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>banner位置：</label>
							<div class="controls">
								<select name="position" id="position" class="span3">
									<option th:each="b,bStat : ${bannerPositionList}" th:value="${b.code}">
										<span th:text="${b.name}"></span>
									</option>
								</select>
								<!--<input type="text" class="span3" name="position" id="position" maxlength="10"/>-->
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>规格：</label>
							<div class="controls">
								<select name="spec" id="spec" class="span3">
									<option th:each="b,bStat : ${bannerSpecList}" th:value="${b.code}">
										<span th:text="${b.name}"></span>
									</option>
								</select>
								<!--<input type="text" class="span3" name="spec" id="spec" maxlength="18"/>-->
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">提示文字：</label>
							<div class="controls">
								<input type="text" class="span3" name="banner_text" id="banner_text" maxlength="100"/>
								<span class="help-block"></span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><span class="f_req">* </span>排序号：</label>
							<div class="controls">
								<input type="text" class="span3" name="sort" id="sort" maxlength="11" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
								<span class="help-block"></span>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer" style="text-align: center;">
					<button class="btn btn-primary btn-submit" type="submit">提 交 </button>
					<button class="btn btn-close" data-dismiss="modal" aria-hidden="true">关 闭</button>
				</div>
			</form>
		</div>
		<script th:src="@{/ecom/js/banner/listBanner.js}"></script>
	</body>
</html>

