<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cn.thinkx.ecom.system.mapper.UserMapper">

	<sql id="UserColumns">
		m.id,
		m.user_name,
		m.password,
		m.login_name,
		m.phone_no,
		m.login_type,
		m.isdefault,
		m.data_stat,
		m.remarks,
		m.create_user,
		m.update_user,
		m.create_time,
		m.update_time,
		m.lock_version,
		m.organization_id,
		m.supplier_id
	</sql>

	<select id="selectByPrimaryKey" parameterType="String" resultType="User">
		select
			<include refid="UserColumns" />
		from tb_web_user m
		where m.id=#{primaryKey}
	</select>

	<select id="getUserByName" parameterType="User" resultType="User">
		select 
	  		<include refid="UserColumns" />
		from tb_web_user m 
		where m.login_type = #{loginType}
		<if test="loginName !=null and loginName !='' ">
			and m.login_name = #{loginName}
		</if>
		<if test="userName !=null and userName !='' ">
			and m.user_name = #{userName}
		</if>
	</select>
	
	<update id="updateByPrimaryKeySelective" parameterType="User">
		update tb_web_user
		<set>
			isdefault=#{isdefault,jdbcType=VARCHAR},
			login_name=#{loginName,jdbcType=VARCHAR},
			login_type=#{loginType,jdbcType=VARCHAR},
			user_name=#{userName,jdbcType=VARCHAR},
			password=#{password,jdbcType=VARCHAR},
			data_stat=#{dataStat,jdbcType=VARCHAR},
			organization_id=#{organizationId,jdbcType=VARCHAR},
			update_user=#{updateUser,jdbcType=VARCHAR},
			update_time=sysdate,
			lock_version=lock_version+1
		</set>
		where id=#{id}
	</update>
	
	<select id="getList" parameterType="User" resultType="User">
		select 
	  		<include refid="UserColumns" />
	  	from tb_web_user m 
        where  m.data_stat='0'
        	and m.login_type = #{loginType}
        <if test="id !=null and id !='' ">
		 	and m.id = #{id}
		</if>
        <if test="userName !=null and userName !='' ">
			and m.user_name like '%' || #{userName} || '%'
		</if>
		<if test="loginName !=null and loginName !='' ">
		 	and m.login_name like '%' || #{loginName} || '%'
		</if>
	</select>
	
	<insert id="insert" parameterType="User">
		insert into tb_web_user (
			id,
			user_name,
			password,
			login_name,
			phone_no,
			login_type,
			isdefault,
			data_stat,
			remarks,
			create_user,
			update_user,
			create_time,
			update_time,
			lock_version,
			organization_id,
			supplier_id
		 )  values ( 
		 	#{id},
		 	#{userName,jdbcType=VARCHAR},
		 	#{password,jdbcType=VARCHAR},
		 	#{loginName,jdbcType=VARCHAR},
		 	#{phoneNo,jdbcType=VARCHAR},
		 	#{loginType,jdbcType=VARCHAR},
		 	#{isdefault,jdbcType=VARCHAR},
		 	'0',
		 	#{remarks,jdbcType=VARCHAR},
		 	#{createUser,jdbcType=VARCHAR},
		 	#{updateUser,jdbcType=VARCHAR},
		 	#{createTime,jdbcType=BIGINT},
		 	#{updateTime,jdbcType=BIGINT},
		 	0,
		 	#{organizationId,jdbcType=VARCHAR},
		 	#{supplierId,jdbcType=VARCHAR}
		 )  
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="User">
		update tb_web_user
		<set>
			isdefault=#{isdefault,jdbcType=VARCHAR},
			login_name=#{loginName,jdbcType=VARCHAR},
			user_name=#{userName,jdbcType=VARCHAR},
			login_type=#{loginType,jdbcType=VARCHAR},
			password=#{password,jdbcType=VARCHAR},
			data_stat=#{dataStat,jdbcType=VARCHAR},
			organization_id=#{organizationId,jdbcType=VARCHAR},
			update_user=#{updateUser,jdbcType=VARCHAR},
			update_time=#{updateTime,jdbcType=VARCHAR},
			lock_version=lock_version+1
		</set>
		where id=#{id}
	</update>
	
	<delete id="deleteByPrimaryKey" parameterType="User" >
		 delete tb_web_user m where  m.id=#{id}
	</delete>
	
	<insert id="addUserRole" parameterType="UserRole">
		insert into tb_web_user_role(user_id,role_id) 
		values (
			#{userId, jdbcType=VARCHAR},
			#{roleId, jdbcType=VARCHAR}
		)
	</insert>
		
	<delete id="deleteUserRoleByUserId" parameterType="String">
		delete from tb_web_user_role where user_id=#{userId}
	</delete>
	
</mapper>
