<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ebeijia.zl.web.oms.batchOrder.mapper.BatchOrderListMapper">
	
	<sql id="BatchOrderColumns">
	       l.order_list_id,
	       l.order_id,
	       l.user_name,
	       l.phone_no,
	       l.user_card_no,
	       l.amount,
	       l.account_type,
		   l.biz_type,
		   l.tfr_in_id,
		   l.tfr_in_bid,
		   l.tfr_out_id,
		   l.tfr_out_bid,
	       l.order_stat,
	       l.order_desc,
	       l.resv1,
	       l.resv2,
	       l.resv3,
	       l.resv4,
	       l.resv5,
	       l.resv6,
	       l.data_stat,
	       l.remarks,
	       l.create_user,
	       l.update_user,
	       l.create_time,
	       l.update_time,
	       l.lock_version
	</sql>
	
	<select id="getBatchOrderListByOrderId" parameterType="string" resultType="BatchOrderList">
	   select 
	   		<include refid="BatchOrderColumns" />,
	   		o.company_id as companyId
	   from tb_batch_order_list l left join tb_batch_order o on l.order_id = o.order_id
	   where l.data_stat = '0' and o.data_stat = '0'
	   		and l.order_id = #{orderId} 
	  order by l.order_stat desc, l.update_time desc, order_list_id desc
	</select>
	
	<select id="getBatchOrderListByOrderStat" parameterType="BatchOrderList" resultType="BatchOrderList">
      select 
      	<include refid="BatchOrderColumns" />,
	   		o.company_id as companyId 
      from tb_batch_order_list l left join tb_batch_order o on l.order_id = o.order_id
      where l.data_stat='0' and o.data_stat = '0'
      	and l.order_stat == #{orderStat}
      	and l.order_id = #{orderId} 
    </select>
    
    <select id="getBatchOrderListByOrder" parameterType="BatchOrderList" resultType="BatchOrderList">
    	select 
       		<include refid="BatchOrderColumns" /> 
        from tb_batch_order_list l
        where l.data_stat='0' 
        <if test="orderId != null and orderId != '' ">
      		and l.order_id = #{orderId} 
      	</if>
      	<if test="phoneNo != null and phoneNo != '' ">
      		and l.phone_no=#{phoneNo}
      	</if>
      	<if test="accountType != null and accountType != '' ">
      		and l.account_type=#{accountType}
      	</if>
      	<if test="bizType != null and bizType != '' ">
      		and l.biz_type=#{bizType}
      	</if>
      	<if test="orderStat != null and orderStat != '' ">
      		and l.order_stat=#{orderStat}
      	</if>
      	<if test="orderStat2 != null and orderStat2 != '' ">
      		and l.order_stat=#{orderStat2}
      	</if>
      	<if test="orderStat3 != null and orderStat3 != '' ">
      		and l.order_stat=#{orderStat3}
      	</if>
      	<if test="orderStat4 != null and orderStat4 != '' ">
      		and l.order_stat=#{orderStat4}
      	</if>
    </select>
    
    <select id="getBatchOrderListByOrderListId" parameterType="string" resultType="BatchOrderList">
    	select 
       		<include refid="BatchOrderColumns" /> 
        from tb_batch_order_list l
        where l.data_stat='0' 
        	and l.order_list_id = #{orderListId} 
    </select>
		
	<insert id="addBatchOrderListByList" parameterType="java.util.ArrayList">
		insert into tb_batch_order_list (
		   order_list_id,
	       order_id,
	       user_name,
	       phone_no,
	       user_card_no,
	       amount,
	       account_type,
		   biz_type,
		   tfr_in_id,
		   tfr_in_bid,
		   tfr_out_id,
		   tfr_out_bid,
	       order_stat,
	       order_desc,
	       resv1,
	       resv2,
	       resv3,
	       resv4,
	       resv5,
	       resv6,
	       data_stat,
	       remarks,
	       create_user,
	       update_user,
	       create_time,
	       update_time,
	       lock_version
		) values
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.orderListId,jdbcType=VARCHAR},
			#{item.orderId,jdbcType=VARCHAR},
			#{item.userName,jdbcType=VARCHAR},
			#{item.phoneNo,jdbcType=VARCHAR},
			#{item.userCardNo,jdbcType=VARCHAR},
			#{item.amount,jdbcType=DOUBLE},
			#{item.accountType,jdbcType=DOUBLE},
			#{item.bizType,jdbcType=DOUBLE},
			#{item.tfrInId,jdbcType=DOUBLE},
			#{item.tfrInBid,jdbcType=DOUBLE},
			#{item.tfrOutId,jdbcType=DOUBLE},
			#{item.tfrOutBid,jdbcType=DOUBLE},
			#{item.orderStat,jdbcType=VARCHAR},
			#{item.orderDesc,jdbcType=VARCHAR},
			#{item.resv1,jdbcType=VARCHAR},
			#{item.resv2,jdbcType=VARCHAR},
			#{item.resv3,jdbcType=VARCHAR},
			#{item.resv4,jdbcType=VARCHAR},
			#{item.resv5,jdbcType=VARCHAR},
			#{item.resv6,jdbcType=VARCHAR},
			'0',
			#{item.remarks,jdbcType=VARCHAR},
			#{item.createUser,jdbcType=VARCHAR},
			#{item.updateUser,jdbcType=VARCHAR},
			#{item.createTime,jdbcType=BIGINT},
			#{item.updateTime,jdbcType=BIGINT},
			0
			)
		</foreach>
	</insert>

	<insert id="addBatchOrderList" parameterType="BatchOrderList">
		insert into tb_batch_order_list
		(
		   order_list_id,
	       order_id,
	       user_name,
	       phone_no,
	       user_card_no,
	       amount,
	       account_type,
		   biz_type,
		   tfr_in_id,
		   tfr_in_bid,
		   tfr_out_id,
		   tfr_out_bid,
	       order_stat,
	       order_desc,
	       resv1,
	       resv2,
	       resv3,
	       resv4,
	       resv5,
	       resv6,
	       data_stat,
	       remarks,
	       create_user,
	       update_user,
	       create_time,
	       update_time,
	       lock_version
		) values (
			#{orderListId,jdbcType=VARCHAR},
			#{orderId,jdbcType=VARCHAR},
			#{userName,jdbcType=VARCHAR},
			#{phoneNo,jdbcType=VARCHAR},
			#{userCardNo,jdbcType=VARCHAR},
			#{amount,jdbcType=DOUBLE},
			#{accountType,jdbcType=DOUBLE},
			#{bizType,jdbcType=DOUBLE},
			#{tfrInId,jdbcType=DOUBLE},
			#{tfrInBid,jdbcType=DOUBLE},
			#{tfrOutId,jdbcType=DOUBLE},
			#{itfrOutBid,jdbcType=DOUBLE},
			#{orderStat,jdbcType=VARCHAR},
			#{orderDesc,jdbcType=VARCHAR},
			#{resv1,jdbcType=VARCHAR},
			#{resv2,jdbcType=VARCHAR},
			#{resv3,jdbcType=VARCHAR},
			#{resv4,jdbcType=VARCHAR},
			#{resv5,jdbcType=VARCHAR},
			#{resv6,jdbcType=VARCHAR},
			'0',
			#{remarks,jdbcType=VARCHAR},
			#{createUser,jdbcType=VARCHAR},
			#{updateUser,jdbcType=VARCHAR},
			#{createTime,jdbcType=BIGINT},
			#{updateTime,jdbcType=BIGINT},
			0
		)
	</insert>

	<update id="updateBatchOrderList" parameterType="BatchOrderList">
		update tb_batch_order_list
		<trim prefix="SET" suffixOverrides=",">
			<if test="orderId != null and orderId != '' ">order_id = #{orderId,jdbcType=VARCHAR},</if>
			<if test="userName != null and userName != '' ">user_name = #{userName,jdbcType=VARCHAR},</if>
			<if test="phoneNo != null and phoneNo != '' ">phone_no = #{phoneNo,jdbcType=VARCHAR},</if>
			<if test="userCardNo != null and userCardNo != '' ">user_card_no = #{userCardNo,jdbcType=VARCHAR},</if>
			<if test="amount != null and amount != '' ">amount = #{amount,jdbcType=VARCHAR},</if>
			<if test="accountType != null and accountType != '' ">account_type = #{accountType,jdbcType=VARCHAR},</if>
			<if test="bizType != null and bizType != '' ">biz_type = #{bizType,jdbcType=VARCHAR},</if>
			<if test="tfrInId != null and tfrInId != '' ">tfr_in_id = #{tfrInId,jdbcType=VARCHAR},</if>
			<if test="tfrInBid != null and tfrInBid != '' ">tfr_in_bid = #{tfrInBid,jdbcType=VARCHAR},</if>
			<if test="tfrOutId != null and tfrOutId != '' ">tfr_out_id = #{tfrOutId,jdbcType=VARCHAR},</if>
			<if test="tfrOutBid != null and tfrOutBid != '' ">tfr_out_bid = #{tfrOutBid,jdbcType=VARCHAR},</if>
			<if test="orderStat != null and orderStat != '' ">order_stat = #{orderStat,jdbcType=VARCHAR},</if>
			<if test="orderDesc != null and orderDesc != '' ">order_desc = #{orderDesc,jdbcType=VARCHAR},</if>
			<if test="dataStat != null and dataStat != '' ">data_stat = #{dataStat,jdbcType=VARCHAR},</if>
			<if test="remarks != null and remarks != '' ">remarks = #{remarks,jdbcType=VARCHAR},</if>
			<if test="updateUser != null and updateUser != '' ">update_user = #{updateUser,jdbcType=VARCHAR},</if>
			update_time = #{updateTime,jdbcType=BIGINT},
			lock_version = lock_version + 1
		</trim>
		where order_list_id = #{orderListId,jdbcType=VARCHAR} 
			<!-- and lock_version = ${lockVersion} -->
	</update>
	
	<update id="updateBatchOrderListByList" parameterType="java.util.ArrayList">
		 <foreach collection="list" item="item" index="index" open="" close="" separator=";">
			update tb_batch_order_list
			<set>
				<if test="item.userName != null and item.userName != '' ">user_name = #{item.userName,jdbcType=VARCHAR},</if>
				<if test="item.phoneNo != null and item.phoneNo != '' ">phone_no = #{item.phoneNo,jdbcType=VARCHAR},</if>
				<if test="item.userCardNo != null and item.userCardNo != '' ">user_card_no = #{item.userCardNo,jdbcType=VARCHAR},</if>
				<if test="item.amount != null and item.amount != '' ">amount = #{item.amount,jdbcType=DOUBLE},</if>
				<if test="item.accountType != null and item.accountType != '' ">account_type = #{item.accountType,jdbcType=VARCHAR},</if>
				<if test="item.bizType != null and item.bizType != '' ">biz_type = #{item.bizType,jdbcType=VARCHAR},</if>
				<if test="item.tfrInId != null and item.tfrInId != '' ">tfr_in_id = #{item.tfrInId,jdbcType=VARCHAR},</if>
				<if test="item.tfrInBid != null and item.tfrInBid != '' ">tfr_in_bid = #{item.tfrInBid,jdbcType=VARCHAR},</if>
				<if test="item.tfrOutId != null and item.tfrOutId != '' ">tfr_out_id = #{item.tfrOutId,jdbcType=VARCHAR},</if>
				<if test="item.tfrOutBid != null and item.tfrOutBid != '' ">tfr_out_bid = #{item.tfrOutBid,jdbcType=VARCHAR},</if>
				<if test="item.orderStat != null and item.orderStat != '' ">order_stat = #{item.orderStat,jdbcType=VARCHAR},</if>
				<if test="item.orderDesc != null and item.orderDesc != '' ">order_desc = #{item.orderDesc,jdbcType=VARCHAR},</if>
				<if test="item.dataStat != null and item.dataStat != '' ">data_stat = #{item.dataStat,jdbcType=VARCHAR},</if>
				<if test="item.remarks != null and item.remarks != '' ">remarks = #{item.remarks,jdbcType=VARCHAR},</if>
				<if test="item.updateUser != null and item.updateUser != '' ">update_user = #{item.updateUser,jdbcType=VARCHAR},</if>
				update_time = #{item.updateTime,jdbcType=BIGINT},
				lock_version = lock_version + 1
			</set>
			<where>
				order_list_id = #{item.orderListId,jdbcType=VARCHAR} 
			</where> 
		</foreach>
	</update>

	<update id="deleteBatchOrderList" parameterType="string">
		update tb_batch_order_list set data_stat = '1' where order_list_id=#{orderListId}
	</update>
        
	
</mapper>
