<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cn.thinkx.oms.specialAccount.mapper.CompanyInfMapper">
		
	<sql id="CompanyInfColumns">
		c.company_id,
		c.name,
	    c.law_code,
		c.trans_flag,
	    c.address,
		c.phone_no,
	    c.contacts,
		c.remarks,
		c.create_user, 
		c.update_user, 
		c.create_time, 
		c.update_time, 
		c.lock_version
	</sql>
	
	<select id="getCompanyInfById" parameterType="java.lang.String" resultType="CompanyInf">
			select 
  				<include refid="CompanyInfColumns" />
	 			from tb_company_inf c where c.data_stat  = '0' and c.company_id = #{companyId,jdbcType=VARCHAR}
	</select>
	
	<select id="getCompanyInfByLawCode" parameterType="java.lang.String" resultType="CompanyInf">
			select 
  				<include refid="CompanyInfColumns" />
	 			from tb_company_inf c where c.data_stat  = '0' and c.law_code = #{lawCode,jdbcType=VARCHAR}
	</select>
	
	<insert id="insertCompanyInf" parameterType="CompanyInf">
		insert into tb_company_inf (
			company_id,
		    name,
	        law_code,
		    trans_flag,
	        address,
		    phone_no,
	        contacts,
			data_stat,
			remarks,
			create_user, 
			create_time,
			update_user,
			update_time,
			lock_version
			)	values	( 
		 		#{companyId,jdbcType=VARCHAR},
		 		#{name,jdbcType=VARCHAR},
		 		#{lawCode,jdbcType=VARCHAR},
		 		#{transFlag,jdbcType=VARCHAR},
		 		#{address,jdbcType=VARCHAR},
		 		#{phoneNo,jdbcType=VARCHAR},
		 		#{contacts,jdbcType=VARCHAR},
		 		'0',
		 		#{remarks,jdbcType=VARCHAR},
		 		#{createUser,jdbcType=VARCHAR},
		 		#{createTime,jdbcType=BIGINT},
		 		#{updateUser,jdbcType=VARCHAR},
		 		#{updateTime,jdbcType=BIGINT},
		 		0
		 	) 
	</insert>
	
	<update id="updateCompanyInf" parameterType="CompanyInf">
			update tb_company_inf set
				name=#{name,jdbcType=VARCHAR},
				law_code=#{lawCode,jdbcType=VARCHAR},
				trans_flag=#{transFlag,jdbcType=VARCHAR},
				address=#{address,jdbcType=VARCHAR},
				phone_no=#{phoneNo,jdbcType=VARCHAR},
				contacts=#{contacts,jdbcType=VARCHAR},
				remarks=#{remarks,jdbcType=VARCHAR},
				lock_version = LOCK_VERSION + 1,
				update_time=#{updateTime,jdbcType=BIGINT},
				update_user=#{updateUser,jdbcType=VARCHAR}
			 where company_id = #{companyId,jdbcType=VARCHAR}
	</update>
	
	
	<select id="getCompanyInfList" parameterType="CompanyInf" resultType="CompanyInf">
		select 
		    <include refid="CompanyInfColumns" />
		    from tb_company_inf c
		         where c.data_stat  = '0'
			<if test="name !=null and name !='' ">
				and c.name like '%' || #{name,jdbcType=VARCHAR} || '%' 
			</if>
			<if test="contacts !=null and contacts !='' ">
				and c.contacts = #{contacts,jdbcType=VARCHAR}
			</if>
			<if test="transFlag !=null and transFlag !='' ">
				and c.trans_flag = #{transFlag,jdbcType=VARCHAR}
			</if>
				order by c.update_time desc
	</select>
	
	<update id="deleteCompanyInf" parameterType="CompanyInf">
			update tb_company_inf
		    set data_stat = '1',
		       lock_version = lock_version + 1,
		       update_time  = #{updateTime,jdbcType=BIGINT},
		       update_user=#{updateUser,jdbcType=VARCHAR}
		    where company_id = #{companyId,jdbcType=VARCHAR}
	</update>
</mapper>
