<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ebeijia.zl.web.oms.sys.mapper.OrganizationMapper">
		
	<resultMap type="Organization" id="OrganizationResultMap">
		<result column="id" property="id"/>
		<result column="address" property="address"/>
		<result column="code" property="code"/>
		<result column="icon" property="icon"/>
		<result column="name" property="name"/>
		<result column="seq" property="seq"/>
		<result column="pid" property="pid"/>
		<result column="pname" property="pname"/>
		<result column="data_stat" property="dataStat"/>
		<result column="remarks" property="remarks"/>
		<result column="create_user" property="createUser"/>
		<result column="update_user" property="updateUser"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="lock_version" property="lockVersion"/>
	</resultMap>
	
	<sql id="OrganizationColumns">
		 id, 
		 address,
		 code,
		 icon, 
		 name, 
		 seq,
		 pid,
		 data_stat,
		 remarks,
		 create_user,
		 update_user,
		 create_time,
		 update_time,
		 lock_version
	</sql>

	<select id="getOrganizationList" parameterType="Organization" resultMap="OrganizationResultMap">
		SELECT 
	  		<include refid="OrganizationColumns" />
	  			from tb_web_organization m
	  			where find_in_set(id, getOrganizationChild('0'))
	  			and m.data_stat = '0'
	</select>
</mapper>
