<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cn.thinkx.oms.sys.mapper.UserMapper">
	<resultMap type="User" id="UserResultMap">
		<result column="id" property="id"/>
		<result column="user_name" property="userName"/>
		<result column="login_name" property="loginName"/>
		<result column="password" property="password"/>
		<result column="phone_no" property="phoneNo"/>
		<result column="login_type" property="loginType"/>
		<result column="isdefault" property="isdefault"/>
		<result column="data_stat" property="dataStat"/>
		<result column="remarks" property="remarks"/>
		<result column="create_user" property="createUser"/>
		<result column="update_user" property="updateUser"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="lock_version" property="lockVersion"/>
		<result column="organization_id" property="organizationId"/>
		<result column="organization_name" property="organizationName"/>
		<result column="supplier_id" property="supplierId"/>
		<result column="supplier_name" property="supplierName"/>
		<result column="role_id" property="roleId"/>
		<result column="role_name" property="roleName"/>
	</resultMap>
	
	<sql id="UserColumns">
		m.id,
		m.user_name,
		m.password,
		m.login_name,
		m.phone_no,
		m.login_type,
		m.isdefault,
		m.data_stat,
		m.remarks,
		m.create_user,
		m.update_user,
		m.create_time,
		m.update_time,
		m.lock_version,
		m.organization_id,
		m.supplier_id
	</sql>
	
	<select id="getUserById" parameterType="java.lang.String" resultMap="UserResultMap">
		select 
	  		<include refid="UserColumns" />
		from tb_web_user m where  m.id = #{id} and m.login_type='1'
	</select>
	
	<insert id="insertUser" parameterType="User">
		insert into tb_web_user (
			id,
			user_name,
			password,
			login_name,
			phone_no,
			login_type,
			isdefault,
			data_stat,
			remarks,
			create_user,
			update_user,
			create_time,
			update_time,
			lock_version,
			organization_id,
			supplier_id
		) values ( 
		 	#{id},
		 	#{userName,jdbcType=VARCHAR},
		 	#{password,jdbcType=VARCHAR},
		 	#{loginName,jdbcType=VARCHAR},
		 	#{phoneNo,jdbcType=VARCHAR},
		 	#{loginType,jdbcType=VARCHAR},
		 	'1',
		 	'0',
		 	#{remarks,jdbcType=VARCHAR},
		 	#{createUser,jdbcType=VARCHAR},
		 	#{updateUser,jdbcType=VARCHAR},
		 	#{createTime,jdbcType=BIGINT},
		 	#{updateTime,jdbcType=BIGINT},
		 	0,
		 	#{organizationId,jdbcType=VARCHAR},
		 	#{supplierId,jdbcType=VARCHAR}
		 ) 
	</insert>
	
	<update id="updateUser" parameterType="User">
		update tb_web_user
		<set>
			user_name=#{userName,jdbcType=VARCHAR},
			login_name=#{loginName,jdbcType=VARCHAR},
			login_type=#{loginType,jdbcType=VARCHAR},
			isdefault=#{isdefault,jdbcType=VARCHAR},
			data_stat=#{dataStat,jdbcType=VARCHAR},
			update_user=#{updateUser,jdbcType=VARCHAR},
			update_time=#{updateTime,jdbcType=BIGINT},
			lock_version=lock_version + 1,
		<if test="organizationId !=null and organizationId !='' ">
			organization_id=#{organizationId,jdbcType=VARCHAR},
		</if>
		<if test="supplierId !=null and supplierId !='' ">
			supplier_id=#{supplierId,jdbcType=VARCHAR}
		</if>
		</set>
			where id = #{id}
	</update>

	<delete id="deleteUser" parameterType="java.lang.String" >
		 delete tb_web_user m where  m.id = #{id}
	</delete>
	
	<select id="getUserByName" parameterType="User" resultMap="UserResultMap">
		select 
	  		<include refid="UserColumns" />
		from tb_web_user m 
		where m.login_type = #{loginType}
		<if test="loginName !=null and loginName !='' ">
			and m.login_name = #{loginName}
		</if>
		<if test="userName !=null and userName !='' ">
			and m.user_name = #{userName}
		</if>
	</select>
	
	<select id="getUserList" parameterType="User" resultMap="UserResultMap">
		select 
	  		<include refid="UserColumns" />, 
	  		o.name as organization_name, r.id as role_id, r.role_name as role_name 
	  	from tb_web_user m
         	left join tb_web_organization o on o.ID = m.organization_id
         	left join tb_web_user_role ur on m.id = ur.user_id
         	left join tb_web_role r on ur.role_id = r.id
        where  m.data_stat = '0'
        	and m.login_type = #{loginType}
        <if test="userName !=null and userName !='' ">
			and m.user_name like '%' || #{userName} || '%'
		</if>
		<if test="loginName !=null and loginName !='' ">
			and m.login_name like '%' || #{loginName} || '%'
		</if>
		<if test="phoneNo !=null and phoneNo !='' ">
			and m.phone_no like '%' || #{phoneNo} || '%'
		</if>
		order by m.update_time desc
	</select>
	
	<!-- 增加角用户角色 -->
	<insert id="saveUserRole" parameterType="UserRole">
		insert into tb_web_user_role(user_id, role_id) values (#{userId}, #{roleId})
	</insert>
	
	<delete id="deleteUserRoleByUserId" parameterType="java.lang.String">
		delete from tb_web_user_role where user_id = #{userId}
	</delete>

	<select id="getDiyUserById" parameterType="java.lang.String" resultMap="UserResultMap">
		select 
	  		<include refid="UserColumns" />
		from tb_web_user m where  m.id = #{id} and m.login_type='3'
	</select>

	<!-- 后面改成用户表关联供应商表 -->
	<!-- <select id="getDiyUserList" parameterType="User" resultMap="UserResultMap">
		SELECT 
	  		<include refid="UserColumns" />, 
	  		o.NAME as SUPPLIER_NAME 
	  	FROM TB_WEB_USER m
         	LEFT JOIN TB_WEB_ORGANIZATION o on o.ID = m.ORGANIZATION_ID
        WHERE  m.DATA_STAT = '0'
        	AND m.LOGIN_TYPE = #{loginType}
        <if test="userName !=null and userName !='' ">
			AND m.USER_NAME LIKE '%' || #{userName} || '%'
		</if>
		<if test="loginName !=null and loginName !='' ">
			AND m.LOGIN_NAME LIKE '%' || #{loginName} || '%'
		</if>
	</select> -->

	<select id="getUserByPhoneNo" parameterType="User" resultMap="UserResultMap">
		 select 
	  		<include refid="UserColumns" />
		 from tb_web_user m 
		 where m.phone_no=#{phoneNo} 
		 	and m.data_stat='0'
		 	and m.login_type=#{loginType}
	</select>
</mapper>
