<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ebeijia.zl.basics.system.mapper.OrganizationMapper">
		
	<sql id="OrganizationColumns">
		 id, 
		 address,
		 code,
		 icon, 
		 name, 
		 seq,
		 pid,
		 data_stat,
		 remarks,
		 create_user,
		 update_user,
		 create_time,
		 update_time,
		 lock_version
	</sql>

	<select id="getOrganizationList" parameterType="Organization" resultType="Organization">
		SELECT 
	  		<include refid="OrganizationColumns" />
	  			from tb_web_organization
	  			where find_in_set(id, getOrganizationChild('0'))
	  			and data_stat = '0'
	</select>
	
</mapper>
