<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!--<setting name="logImpl" value="SLF4J" />-->
 		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>

	<typeAliases>
		<typeAlias type="com.ebeijia.zl.facade.telrecharge.domain.CompanyInf" alias="CompanyInf" />
		<typeAlias type="com.ebeijia.zl.facade.telrecharge.domain.ProviderInf" alias="ProviderInf" />
		<typeAlias type="com.ebeijia.zl.facade.telrecharge.domain.ProviderOrderInf" alias="ProviderOrderInf" />
		<typeAlias type="com.ebeijia.zl.facade.telrecharge.domain.RetailChnlAreaInf" alias="RetailChnlAreaInf" />
		<typeAlias type="com.ebeijia.zl.facade.telrecharge.domain.RetailChnlInf" alias="RetailChnlInf" />
		<typeAlias type="com.ebeijia.zl.facade.telrecharge.domain.RetailChnlItemList" alias="RetailChnlItemList" />
		<typeAlias type="com.ebeijia.zl.facade.telrecharge.domain.RetailChnlOrderInf"   alias="RetailChnlOrderInf" />
		<typeAlias type="com.ebeijia.zl.facade.telrecharge.domain.RetailChnlProductInf" alias="RetailChnlProductInf" />
	</typeAliases>
	
	<mappers>
	
	</mappers>
</configuration>