<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebeijia.zl.shop.dao.order.mapper.TbEcomPlatfOrderMapper">

    <sql id="PlatfOrderColumns">
      po.order_id,
      po.member_id,
      po.dms_related_key,
      po.pay_status,
      po.order_price,
      po.order_freight_amt,
      po.pay_type,
      po.pay_amt,
      po.pay_time,
      po.order_channel,
      po.col1,
      po.col2,
      po.col3,
      po.data_stat,
      po.remarks,
      po.create_user,
      po.update_user,
      po.create_time,
      po.update_time,
      po.lock_version
    </sql>

    <sql id="tableName">
      tb_ecom_platf_order po
    </sql>

    <select id="getOrderInfo" parameterType="OrderInfo" resultType="OrderInfo">
        select
        /*item.product_id,item.product_price,item.product_num,item.product_name,*/
        po.member_id,po.order_id,po.order_price,po.order_freight_amt,po.pay_status,po.pay_type,po.pay_amt,po.pay_time,
        pso.s_order_id,pso.ecom_code,pso.sub_order_status,
        dms.pay_status dms_status,dms.debit_account_code,dms.debit_account_type,dms.debit_price
        from tb_ecom_platf_order po
        left join tb_ecom_platf_shop_order pso
        on po.order_id = pso.order_id
        left join tb_ecom_dms_related_detail dm
        on dm.s_order_id = pso.s_order_id
        left join tb_ecom_pay_order_details dms
        on dm.pay_details_id = dms.pay_details_id
        /*left join tb_ecom_order_product_item item
        on item.s_order_id = pso.s_order_id;*/
        <where>
            <if test="orderId!=null and orderId!='' ">
                po.order_id = #{orderId}
            </if>
            <if test="memberId!=null and memberId!='' ">
                and po.member_id = #{memberId}
            </if>
        </where>
    </select>

    <select id="getPlatfOrderList" parameterType="TbEcomPlatfOrder" resultType="TbEcomPlatfOrder">
        select
          <include refid="PlatfOrderColumns"/>,
            p.mobile_phone_no as mobilePhoneNo,
            p.personal_name as personalName
        from
          <include refid="tableName"/>
            left join tb_ecom_member m on m.member_id = po.member_id
            left join tb_user_inf u on u.user_id = m.user_id
            left join tb_person_inf p on p.user_id = u.user_id
        where po.data_stat = '0'
        <if test="orderId !=null and orderId !='' ">
            and po.order_id = #{orderId}
        </if>
        <if test="personalName !=null and personalName !='' ">
            and p.personal_name like "%"#{personalName}"%"
        </if>
        <if test="dmsRelatedKey !=null and dmsRelatedKey !='' ">
            and po.dms_related_key = #{dmsRelatedKey}
        </if>
        <if test="mobilePhoneNo !=null and mobilePhoneNo !='' ">
            and p.mobile_phone_no = #{mobilePhoneNo}
        </if>
        <if test="payStatus !=null and payStatus !='' ">
            and po.pay_status = #{payStatus}
        </if>
        <if test="payType !=null and payType !='' ">
            and po.pay_type = #{payType}
        </if>
        order by po.create_time desc
    </select>


</mapper>