<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ebeijia.zl.basics.wechat.mapper.AccountFansMapper">

	<sql id="AccountFansColumns">
		id,
		openid,
		wxid,
		subscribestatus,
		subscribetime,
		nickname,
		gender,
		language,
		country,
		province,
		city,
		headimgurl,
		fans_status,
		createtime,
		status,
		unionid,
		groupid,
		remark
	</sql>

	<select id="list" parameterType="AccountFans" resultType="AccountFans">
		SELECT 
		 <include refid="AccountFansColumns" />
		 FROM tb_wx_client_fans ORDER BY id
	</select>

	<select id="getTotalItemsCount" parameterType="AccountFans" resultType="java.lang.Integer">
		SELECT count(id) FROM tb_wx_client_fans 
	</select>

	<select id="paginationEntity" resultType="AccountFans">
		SELECT 
		 <include refid="AccountFansColumns" />
		 FROM tb_wx_client_fans 
		WHERE rownum &gt;= #{param2.start,jdbcType=INTEGER} AND rownum &lt;=#{param2.pageSize,jdbcType=INTEGER}
		ORDER BY id 
	</select>
	
	<select id="getLastOpenId" resultType="AccountFans">
		SELECT 
		 <include refid="AccountFansColumns" />
		 FROM tb_wx_client_fans 
		WHERE rownum &gt;= 0 AND rownum &lt;=1
		ORDER BY id DESC
	</select>

	<select id="getById" parameterType="java.lang.String" resultType="AccountFans">
		SELECT 
		 <include refid="AccountFansColumns" />
		 FROM tb_wx_client_fans WHERE id = #{id}
	</select>
	
	<select id="getByOpenId" parameterType="java.lang.String" resultType="AccountFans">
		SELECT 
		 <include refid="AccountFansColumns" />
		 FROM tb_wx_client_fans WHERE openid = #{openId}
	</select>

	<insert id="add" parameterType="AccountFans">
		<![CDATA[ 
		INSERT INTO tb_wx_client_fans (
			openid,
			wxid,
			subscribestatus,
			subscribetime,
			nickname,
			gender,
			language,
			country,
			province,
			city,
			headimgurl,
			fans_status,
			remark,
			status,
			unionid,
			groupid,
			createtime
		) VALUES ( 
			#{openId},
			#{wxid,jdbcType=VARCHAR},
			#{subscribestatus,jdbcType=VARCHAR},
			#{subscribetime},
			#{nickname,jdbcType=VARCHAR},
			#{gender,jdbcType=VARCHAR},
			#{language,jdbcType=VARCHAR},
			#{country,jdbcType=VARCHAR},
			#{province,jdbcType=VARCHAR},
			#{city,jdbcType=VARCHAR},
			#{headimgurl,jdbcType=VARCHAR},
			#{fansStatus,jdbcType=VARCHAR},
			#{remark,jdbcType=VARCHAR},
			#{status,jdbcType=VARCHAR},
			#{unionid,jdbcType=VARCHAR},
			#{groupid,jdbcType=VARCHAR},
			sysDate) 
		 ]]>
	</insert>
	
	<insert id="addList" parameterType="list">  
        insert into tb_wx_client_fans ( openid,subscribestatus,subscribetime,nickname,gender,language,country,province,city,headimgurl,remark,status,id,wxid,createtime )
        values
        <foreach  collection="list" item="item" index="index" separator="," >  
        	<![CDATA[
            ( #{item.openId},#{item.subscribestatus},#{item.subscribeTime},#{item.nickname},#{item.gender},#{item.language},#{item.country},#{item.province},#{item.city},#{item.headimgurl},#{item.remark},#{item.status},#{item.id},#{item.wxid},#{item.createtime} ) 
        	 ]]>
        </foreach> 
    </insert>
	
	<update id="update" parameterType="AccountFans" flushCache="true">
		UPDATE tb_wx_client_fans SET 
			wxid=#{wxid,jdbcType=VARCHAR},
			subscribestatus=#{subscribestatus,jdbcType=VARCHAR},
			nickname=#{nickname,jdbcType=VARCHAR},
			gender=#{gender,jdbcType=VARCHAR},
			language=#{language,jdbcType=VARCHAR},
			country=#{country,jdbcType=VARCHAR},
			province=#{province,jdbcType=VARCHAR},
			city=#{city,jdbcType=VARCHAR},
			headimgurl=#{headimgurl,jdbcType=VARCHAR},
			remark=#{remark,jdbcType=VARCHAR},
			status=#{status,jdbcType=VARCHAR},
			unionid=#{unionid,jdbcType=VARCHAR}
			where id = #{id} 
	</update>

	<delete id="delete" parameterType="AccountFans" >
		DELETE FROM tb_wx_client_fans WHERE id = #{id}
	</delete>
	
	<delete id="deleteByOpenId" parameterType="java.lang.String" >
		DELETE FROM tb_wx_client_fans WHERE openid = #{openId}
	</delete>
	
	<update id="updateAccountFansByStatus" parameterType="AccountFans">
			UPDATE tb_wx_client_fans SET
			 subscribestatus = #{subscribestatus},
			 subscribetime =#{subscribetime},
			 status = #{status}  WHERE OPENID = #{openId} 
	</update>
	
	<update id="updateAccountFansByMcht" parameterType="AccountFans">
			UPDATE tb_wx_client_fans SET
				wxid=#{wxid,jdbcType=VARCHAR},
				gender=#{gender,jdbcType=VARCHAR},
				language=#{language,jdbcType=VARCHAR},
				country=#{country,jdbcType=VARCHAR},
				province=#{province,jdbcType=VARCHAR},
				city=#{city,jdbcType=VARCHAR},
				fans_status=#{fansStatus,jdbcType=VARCHAR},
				remark=	#{remark,jdbcType=VARCHAR},
				groupid=#{groupid,jdbcType=VARCHAR},
				status=#{status,jdbcType=VARCHAR}
			 WHERE id = #{id} 
	</update>

</mapper>
