<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ebeijia.zl.basics.wechat.mapper.AccountMenuGroupMapper">

	
	<sql id="AccountMenuGroupColumns">
		id, 
		name,
		enable, 
		createtime
	</sql>
	
	<select id="list" parameterType="AccountMenuGroup" resultType="AccountMenuGroup">
		SELECT 
		<include refid="AccountMenuGroupColumns" />
		 FROM t_wxcms_account_menu_group ORDER BY id
	</select>

	<select id="getTotalItemsCount" parameterType="AccountMenuGroup" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM t_wxcms_account_menu_group
	</select>

	<select id="paginationEntity" resultType="AccountMenuGroup">
		SELECT 
		<include refid="AccountMenuGroupColumns" />
		 FROM t_wxcms_account_menu_group 
		WHERE rownum &gt;= #{param2.start,jdbcType=INTEGER} AND rownum &lt;=#{param2.pageSize,jdbcType=INTEGER}
		ORDER BY id 
	</select>

	<select id="getById" parameterType="java.lang.String" resultType="AccountMenuGroup">
		SELECT 
		<include refid="AccountMenuGroupColumns" />
		 FROM t_wxcms_account_menu_group WHERE id =#{id}
	</select>

	<insert id="add" parameterType="AccountMenuGroup" flushCache="true">

		insert into t_wxcms_account_menu_group ( id,name,enable,createtime ) values ( 
			#{id},
			#{name, jdbcType=VARCHAR},
			#{enable, jdbcType=INTEGER},
			sysdate) 
	</insert>
	
	<update id="updateMenuGroupDisable" flushCache="true">
			UPDATE t_wxcms_account_menu_group SET enable = 0
	</update>
	
	<update id="updateMenuGroupEnable" parameterType="java.lang.String" flushCache="true">
		UPDATE t_wxcms_account_menu_group SET enable = 1 WHERE id =#{id}
	</update>

	<update id="update" parameterType="AccountMenuGroup" flushCache="true">
		UPDATE t_wxcms_account_menu_group SET NAME = #{name},ENABLE = #{enable},CREATETIME = #{createtime} WHERE id =#{id} 
	</update>

	<delete id="deleteAllMenu" parameterType="AccountMenuGroup" >
		DELETE FROM t_wxcms_account_menu WHERE gid =#{id}
	</delete>

	<delete id="delete" parameterType="AccountMenuGroup" >
		DELETE FROM t_wxcms_account_menu_group WHERE id =#{id}
	</delete>
	
	<select id="getMembersGroupsId" resultType="AccountMenuGroup">
		SELECT 
		<include refid="AccountMenuGroupColumns" />
		 FROM t_wxcms_account_menu_group 
		WHERE rownum = 1
		AND id not in (0,1,2)
		ORDER by createtime desc
	</select>
</mapper>
