<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ebeijia.zl.basics.wechat.mapper.MpAccountMapper">

	<select id="listForPage" parameterType="MpAccount" resultType="MpAccount">
		select * from t_wxcms_account order by id desc
	</select>

	
	<select id="getByAccount" parameterType="java.lang.String" resultType="MpAccount">
		select * from t_wxcms_account  where account = #{account,jdbcType=VARCHAR} limit 1

	</select>
	
	<select id="getSingleMpAccount" resultType="MpAccount">
		select * from t_wxcms_account 	order by id desc   limit 1
	</select>

</mapper>
