<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ebeijia.zl.basics.wechat.mapper.MsgNewsMapper">


	<select id="listForPage" parameterType="MsgNews" resultType="MsgNews">
		select * from t_wx_client_msg_news t , t_wx_client_msg_base b where t.base_id = b.id order by t.id
	</select>
	
	<select id="pageWebNewsList" resultType="MsgNews">
		select t.* , b.createtime as createtimestr from t_wx_client_msg_news t , t_wx_client_msg_base b 
		where t.base_id = b.id and rownum &gt;= #{param2.start,jdbctype=integer} and rownum &lt;=#{param2.pagesize,jdbctype=integer}
		order by b.createtime desc
	</select>

	
	<select id="getRandomMsgByContent" resultType="MsgNews">
		select t.* from t_wx_client_msg_news t , t_wx_client_msg_base b
		where b.inputcode like '%' || '${param1}' || '%' and t.base_id = b.id and rownum &lt;=#{param2}
	</select>
	
	<select id="getRandomMsg" parameterType="java.lang.Integer" resultType="MsgNews">
		select t.* from t_wx_client_msg_news t , t_wx_client_msg_base b
		where t.base_id = b.id and rownum &lt;=#{num}
		order by rand()
	</select>
	
	<select id="getMsgNewsByIds" resultType="MsgNews" >
    	select * from t_wx_client_msg_news where id in
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">  
		 #{item}  
		</foreach>  
	</select>



	<update id="updateUrl" parameterType="MsgNews" flushCache="true">
		update t_wx_client_msg_news set url = #{url} where id = #{id} 
	</update>


	<select id="getMsgNewsByCode" resultType="MsgNews" parameterType="java.lang.String" >
		select t.* from t_wx_client_msg_news t ,t_wx_client_msg_base b where t.base_id=b.id and b.inputcode=#{inputCode}
	</select>

	<select id="getMsgNewsBySubscribe" resultType="MsgNews">
		select t.* from t_wx_client_msg_news t ,t_wx_client_msg_base b where t.base_id=b.id and b.inputcode='subscribe'
	</select>
	
	<select id="getMsgNewsByUserReg" resultType="MsgNews">
		select t.* from t_wx_client_msg_news t ,t_wx_client_msg_base b where t.base_id=b.id and b.inputcode='customer_userReg'
	</select>
</mapper>
