<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebeijia.zl.service.telrecharge.mapper.CompanyInfMapper">


	<sql id="CompanyInfColumns">
		c.company_id,
		c.name,
		c.law_code,
		c.trans_flag,
		c.address,
		c.phone_no,
		c.is_open,
		c.contacts,
		c.remarks,
		c.create_user,
		c.update_user,
		c.create_time,
		c.update_time,
		c.lock_version
	</sql>

	<select id="getCompanyInfList" parameterType="CompanyInf" resultType="CompanyInf">
		select
			<include refid="CompanyInfColumns" />
		from tb_company_inf c
		where c.data_stat = '0'
		<if test="name !=null and name !='' ">
			and c.name like '%' || #{name,jdbcType=VARCHAR} || '%'
		</if>
		<if test="contacts !=null and contacts !='' ">
			and c.contacts = #{contacts,jdbcType=VARCHAR}
		</if>
		<if test="transFlag !=null and transFlag !='' ">
			and c.trans_flag = #{transFlag,jdbcType=VARCHAR}
		</if>
		<if test="isOpen !=null and isOpen !='' ">
			and c.is_open = #{isOpen,jdbcType=VARCHAR}
		</if>
		order by c.update_time desc
	</select>

	<select id="getCompanyInfByLawCode" parameterType="java.lang.String" resultType="CompanyInf">
		select
			<include refid="CompanyInfColumns" />
		from tb_company_inf c 
		where c.data_stat = '0' and c.law_code = #{lawCode,jdbcType=VARCHAR}
	</select>

	<select id="getCompanyInfByIsPlatform" parameterType="java.lang.String" resultType="CompanyInf">
		select
		<include refid="CompanyInfColumns" />
		from tb_company_inf c
		where c.data_stat = '0' and c.is_platform = #{isPlatform,jdbcType=VARCHAR}
	</select>

</mapper>