<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ebeijia.zl.service.telrecharge.mapper.ProviderOrderInfMapper">
		
	<sql id="TableName">
			tb_provider_order_inf
	</sql>
	
	<sql id="ColumnResult">
		reg_order_id, 
		channel_order_id,
		reg_order_amt,
		reg_txn_amt,
		itf_primary_key,
		operate_time, 
		pay_state,
		order_state,
		recharge_state, 
		item_cost, 
		trans_cost,
		revoke_message, 
		bill_id, 
		provider_id, 
		oper_num,
		resv1,
		resv2,
		resv3,
		resv4,
		resv5,
		resv6,
		data_stat,
		remarks,
		create_user	,
		update_user,
		create_time,
		update_time,
		lock_version
	</sql>

	<sql id="providerResult">
		p.reg_order_id,
		p.channel_order_id,
		p.reg_order_amt,
		p.pay_state,
		p.recharge_state,
		p.trans_cost,
		p.revoke_message,
		p.bill_id,
		p.operate_time,
		p.oper_num
	</sql>



	<select id="getProviderOrderInfList" parameterType="ProviderOrderInf" resultType="ProviderOrderInf">
		select
		<include refid="providerResult" />,
		i.provider_name providerName
		from  <include refid="TableName" /> p
		left join tb_provider_inf i ON i.provider_id = p.provider_id
		where p.data_stat='0'
		<if test="regOrderId !=null and regOrderId !='' ">
			and p.reg_order_id = #{regOrderId}
		</if>
		<if test="channelOrderId !=null and channelOrderId !='' ">
			and p.channel_order_id = #{channelOrderId}
		</if>
		<if test="billId !=null and billId !='' ">
			and p.bill_id = #{billId}
		</if>
		<if test="rechargeState !=null and rechargeState !='' ">
			and p.recharge_state = #{rechargeState}
		</if>
		order by p.update_time desc
	</select>

	
	<select id="getList" parameterType="ProviderOrderInf" resultType="ProviderOrderInf">
		select 
	  		<include refid="ColumnResult" />
		from  <include refid="TableName" /> m
		where m.data_stat='0' 
		<if test="regOrderId !=null and regOrderId !='' ">
			and m.reg_order_id = #{regOrderId}
		</if>
		<if test="channelOrderId !=null and channelOrderId !='' ">
			and m.channel_order_id = #{channelOrderId}
		</if>
		<if test="billId !=null and billId !='' ">
			and m.bill_id = #{billId}
		</if>
		<if test="rechargeState !=null and rechargeState !='' ">
			and m.recharge_state = #{rechargeState}
		</if>
		order by m.update_time desc
	</select>
	
		
	<select id="getOrderInfByChannelOrderId" parameterType="java.lang.String" resultType="ProviderOrderInf">
		select 
	  		<include refid="ColumnResult" />
		 		     from 	<include refid="TableName" /> m
		              where m.data_stat='0' and channel_order_id=#{channelOrderId}
	</select>
	
		
	<select id="getListByTimer" parameterType="ProviderOrderInf" resultType="ProviderOrderInf">
		select 
	  		<include refid="ColumnResult" />
		from  <include refid="TableName" /> m
		where m.data_stat='0' 
		<if test="rechargeState !=null and rechargeState !='' ">
			and m.recharge_state = #{rechargeState}
		</if>
		and sysdate - 1/(60*24) >m.update_time  and m.update_time > sysdate - 10/(60*24)
		order by m.update_time desc
	</select>
</mapper>
