<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ebeijia.zl.service.telrecharge.mapper.RetailChnlProductInfMapper">
		
	<sql id="TableName">
			tb_retail_chnl_product_inf
	</sql>
	
	<sql id="ColumnResult">
		product_id, 
		oper_name, 
		oper_id, 
		area_flag, 
		product_amt, 
		product_price,
		product_type,
		resv1,
		resv2,
		resv3,
		resv4,
		resv5,
		resv6,
		data_stat,
		remarks,
		create_user	,
		update_user,
		create_time,
		update_time,
		lock_version
	</sql>

	
	<select id="getList" parameterType="RetailChnlProductInf" resultType="RetailChnlProductInf">
		select 
	  		<include refid="ColumnResult" />
		from <include refid="TableName" /> m
		where m.data_stat='0'
		<if test="operName !=null and operName !='' ">
			and m.oper_name like '%' || #{operName} || '%'
		</if>
		<if test="operId !=null and operId !='' ">
			and m.oper_id = #{operId}
		</if>
		<if test="areaFlag !=null and areaFlag !='' ">
			and m.area_flag = #{areaFlag}
		</if>
		<if test="productType !=null and productType !='' ">
			and m.product_type = #{productType}
		</if>
		order by m.update_time desc
	</select>
	
	<select id="getChannelProductByItemId" parameterType="String" resultType="RetailChnlProductInf">
		select
			l.id, 
			l.channel_id,
		    p.product_id, 
		    p.oper_name, 
		    p.oper_id, 
		    p.area_flag, 
		    p.product_amt, 
		    p.product_price,
		    p.product_type,
		    l.channel_rate
        from tb_retail_chnl_product_inf p,
         tb_retail_chnl_item_list l,
         tb_retail_chnl_inf a  
         where  p.data_stat='0'
        and l.data_stat='0'
        and a.data_stat='0'
        and p.product_id=l.product_id
        and l.channel_id=a.channel_id
		and l.chnl_item_id = #{id}
	</select>
	
	<select id="getChannelProductListByChannelId" parameterType="String" resultType="RetailChnlProductInf">
		select 
			cp.product_id, 
			cp.oper_name, 
			cp.oper_id, 
			cp.area_flag, 
			cp.product_amt, 
			cp.product_price,
			cp.product_type,
			cp.data_stat,
			cp.remarks,
			cp.create_user,
			cp.update_user,
			cp.create_time,
			cp.update_time,
			cp.lock_version,
			item.chnl_item_id,
			item.channel_rate
		from tb_retail_chnl_product_inf cp inner join tb_retail_chnl_item_list item 
		on cp.product_id = item.product_id
		where cp.data_stat='0'
		and item.channel_id  = #{channelId}
		order by cp.update_time desc
	</select>
	
	<select id="getProductRateByMaps" parameterType="java.util.Map" resultType="RetailChnlProductInf">
    	select 
		p.product_id, 
		p.oper_name, 
		p.oper_id, 
		p.area_flag, 
		p.product_amt, 
		p.product_price,
		p.product_type,
    	l.channel_rate
    from tb_retail_chnl_product_inf p,
         tb_retail_chnl_item_list l,
         tb_retail_chnl_inf a
        where  p.data_stat='0'
        and l.data_stat='0'
        and a.data_stat='0'
        and p.product_id=l.product_id
        and l.channel_id=a.channel_id
		<if test="operId != null and operId != ''">
        	and p.oper_id=#{operId}
		</if>
        and p.product_type=#{productType}
        and p.product_amt=#{productAmt}
        and a.channel_id=#{channelId}
        <if test="productId != null and productId != ''">
        	and  p.product_id=#{productId}
        </if>
	</select>

</mapper>
