<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ebeijia.zl.service.telrecharge.mapper.RetailChnlInfMapper">
		
	<sql id="TableName">
		tb_retail_chnl_inf
	</sql>
	
	<sql id="ColumnResult">
		channel_id,
		law_code,
		channel_name,
		channel_code,
		channel_key,
		channel_reserve_amt,
		channel_prewarning_amt,
		phone_no,
		is_open,
		email,
		resv1,
		resv2,
		resv3,
		resv4,
		resv5,
		resv6,
		data_stat,
		remarks,
		create_user	,
		update_user,
		create_time,
		update_time,
		LOCK_VERSION
	</sql>	

	<select id="getList" parameterType="RetailChnlInf" resultType="RetailChnlInf">
		select 
	  		<include refid="ColumnResult" />
		from tb_retail_chnl_inf
		where data_stat='0'
		<if test="channelName != null and channelName != '' ">
			and channel_name like '%' || #{channelName} || '%'
		</if>
		order by update_time desc
	</select>

	<select id="getRetailChnlInfByLawCode" parameterType="String" resultType="RetailChnlInf">
		select
			<include refid="ColumnResult" />
		from tb_retail_chnl_inf m
		where data_stat='0'
			and law_code = #{lawCode}
	</select>
	
</mapper>
